{{#each addtitionList as |item| }}
    {{addition-education-item
        description = item.description
		type = item.type
		name = item.name
		dateYear = item.dateYear
		dateMonth = item.dateMonth}}
{{/each}}