<div class="columns">
	<div class="column" style="position: relative">
		<img src='{{avatar}}' class="avatar-circle" id="emptyAvatar"/>
	</div>
</div>
<div class="columns">
	<div class="column has-text-centered">
		<a class="button is-bizzare-pure-button" {{action 'openModal'}}>
			<img src="edit-icon.png" />&nbsp;
			<span>Изменить</span>
		</a>
	</div>
</div>

{{#if isOpen}}
	<div class="is-avatar-chooser">
		<div class="columns">
			<div class="column">
				<h3 class="title is-3" style="color: #ffffff">Сменить аватар</h3>
			</div>
		</div>
	  	<div class="columns">
			<div class="column">
				<div class="container">
				    <div class="cropper">
				        <div class="cropper-container" style="width:400px;">
				            {{#if (eq fileAvatar null)}}
								<img width="400px" id="imageToCropp" src="image.png" class="cropper-hidden avatar-circle">
							{{else}}
								<img width="400px" id="imageToCropp" src="{{fileAvatar}}" class="cropper-hidden avatar-circle">
							{{/if}}
				        </div>
				    </div>
				</div>
			</div>
		</div>
		<div class="columns">
			<div class="column">
				<form id="form1" runat="server">
			        <input type="file" accept="image/*" id="imgInp" style="display: none"/>
			    </form>
			</div>
		</div>
		<div class="columns">
			<div class="column">
				<a class="button is-info" {{action 'uploadImage'}}>
					{{#if (eq language 'ru')}}
						Загрузить
					{{else}}
						Upload
					{{/if}}
				</a>
				<a class="button is-primary" {{action "getCroppedAvatar"}}>
					{{#if (eq language 'ru')}}
						Вставить
					{{else}}
						Paste
					{{/if}}
				</a>
				<a class="button is-success" {{action 'closeModal'}}>
					{{#if (eq language 'ru')}}
						Отменить
					{{else}}
						Cancel
					{{/if}}
				</a>
			</div>
		</div>
	</div>
{{/if}}
