<a class="button is-bizzare-pure-button is-fullwidth" {{action 'toggleModal'}}>
  <img src="edit-icon.png" />&nbsp;
  <span>РЕДАКТИРОВАТЬ ОСНОВНУЮ ИНФОРМАЦИЮ</span>
</a>


<div class="modal {{if isOpen 'is-active'}}">
  <div class="modal-background"></div>
  <div class="modal-card is-modal-80">
    <header class="modal-card-head">
      <p class="modal-card-title">Основная информация</p>
    </header>
    <section class="modal-card-body">
      <form>
        <div class="columns">
          <div class="column">
            <h3 class="title is-3">Личная информация</h3>
          </div>
        </div>
        <div class="columns is-mobile">
          <div class="column">
            <label class="label" for="fio">ФИО</label>
            <p class="control has-icon">
                <input id="fio" class="input bizzare-form-input" type="text" placeholder="ФИО" value="{{fio}}">
                <i class="fa fa-user up-icon"></i>
            </p>
          </div>
          <div class="column">
            <label class="label" for="dateOfBirth">Дата рождения</label>
            <p class="control has-icon">
              <input id="dateOfBirth" class="input bizzare-form-input" type="text" placeholder="Email" value={{dateOfBirth}}>
              <i class="fa fa-calendar up-icon"></i>
            </p>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <strong>Пол</strong>
          </div>
        </div>
        <div class="columns">
          <div class="column has-text-centered">
            {{#if (eq gender 'male')}}
              <a class="button is-bizzare-pure-button is-active" {{action 'setMale'}}>Мужской</a>
            {{else}}
              <a class="button is-bizzare-pure-button" {{action 'setMale'}}>Мужской</a>
            {{/if}}
          </div>
          <div class="column has-text-centered">
            {{#if (eq gender 'female')}}
              <a class="button is-bizzare-pure-button is-active" {{action 'setFemale'}}>Женский</a>
            {{else}}
              <a class="button is-bizzare-pure-button" {{action 'setFemale'}}>Женский</a>
            {{/if}}
          </div>
        </div>
        <div class="columns">
          <div class="column">
              <label class="label">Город</label>
              <p class="control">
                <input class="input bizzare-form-input" id="city" type="text" placeholder="Введите город" onkeyup={{action "citySearch"}}>
              </p>
              {{#if isTyumen}}
                <a class="button is-bizzare-pure-button is-fullwidth" {{action "chooseCity" "Тюмень"}}>Тюмень</a><br />
              {{/if}}
              {{#if isEkb}}
                <a class="button is-bizzare-pure-button is-fullwidth" {{action "chooseCity" "Екатеринбург"}}>Екатеринбург</a><br />
              {{/if}}
              {{#if isMoscow}}
                <a class="button is-bizzare-pure-button is-fullwidth" {{action "chooseCity" "Москва"}}>Москва</a><br />
              {{/if}}
          </div>
          <div class="column">
              <label class="label">Гражданство</label>
              <p class="control">
                <input class="input bizzare-form-input" id="citizenship" type="text" placeholder="Ваше гражданство" onkeyup={{action "citizenshipSearch"}}>
              </p>
              {{#if isRussian}}
                <a class="button is-bizzare-pure-button is-fullwidth" {{action "chooseCitizenship" "Российское"}}>Российское</a><br />
              {{/if}}
              {{#if isUSA}}
                <a class="button is-bizzare-pure-button is-fullwidth" {{action "chooseCitizenship" "Российское"}}>Американское</a><br />
              {{/if}}
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <h3 class="title is-3">Рабочая информация</h3>
          </div>
        </div>
      	<div class="columns is-mobile">
      		<div class="column">
            <label class="label" for="position">Цель/Желаемая должность</label>
      			<p class="control has-icon">
    				  <input id="position" class="input bizzare-form-input" type="text" placeholder="Менеджер" value="{{position}}">
    				  <i class="fa fa-building up-icon"></i>
    				</p>
      		</div>
      		<div class="column">
            <label class="label" for="wage">Уровень заработной платы</label>
      			<p class="control has-icon">
    				  <input id="wage" class="input bizzare-form-input" type="text" placeholder="0" value="{{wage}}">
    				  <i class="fa fa-money up-icon"></i>
    				</p>
      		</div>
      	</div>
        <div class="columns is-mobile">
          <div class="column">
            <label class="label">Командировки</label>
            <p class="control">
              <span class="select is-fullwidth">
                <select id="komandirovki">
                  <option value="-1">Не указано</option>
                  <option value="1">Готов</option>
                  <option value="0">Не готов</option>
                </select>
              </span>
            </p>
          </div>
          <div class="column">
            <label class="label">Переезд в другой город</label>
            <p class="control">
              <span class="select is-fullwidth">
                <select id="pereezd">
                  <option value="-1">Не указано</option>
                  <option value="1">Готов</option>
                  <option value="0">Не готов</option>
                </select>
              </span>
            </p>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <h3 class="title is-3">Контакты</h3>
          </div>
        </div>
      	<div class="columns is-mobile">
      		<div class="column">
            <label class="label" for="skype">Skype</label>
      			<p class="control has-icon">
    				  <input id="skype" class="input bizzare-form-input" type="text" placeholder="anon_user" value="{{skype}}">
    				  <i class="fa fa-envelope up-icon"></i>
    				</p>
      		</div>
      		<div class="column">
            <label class="label" for="email">Email</label>
      			<p class="control has-icon">
    				  <input class="input bizzare-form-input" type="text" id="email" placeholder="example@gmail.com" value="{{email}}">
    				  <i class="fa fa-envelope up-icon"></i>
    				</p>
      		</div>
        </div>
        <div class="columns is-mobile">
          <div class="column">
            <label class="label" for="phone">Телефон</label>
            <p class="control has-icon">
              <input type="text" id="phone" class="input bizzare-form-input" placeholder="8 (123) 000-00-00" value="{{phone}}">
              <i class="fa fa-phone up-icon"></i>
            </p>
          </div>
          <div class="column">
            <label class="label" for="site">Личный сайт/страница в соц.сетях</label>
            <p class="control has-icon">
              <input type="text" id="site" class="input bizzare-form-input" placeholder="emberjs.com" value="{{site}}">
              <i class="fa fa-globe up-icon"></i>
            </p>
          </div>
      	</div>
      </form>
    </section>
    <footer class="modal-card-foot">
      <a class="button is-primary" {{action 'saveInfo'}}>Сохранить</a>
      <a class="button" {{action 'toggleModal'}}>Отмена</a>
    </footer>
  </div>
</div>
