<a class="button is-bizzare-pure-button is-fullwidth" {{action 'openModal'}}>
  <span class="icon">
    <i class="fa fa-plus"></i>
  </span>
  <span>Добавить</span>
</a>

{{#if isOpen}}
  <div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card is-modal-80">
      <header class="modal-card-head">
        <p class="modal-card-title">
          {{#if (eq language 'ru')}}
            Добавить место учебы
          {{else}}
            Add a place to study
          {{/if}}
        </p>
      </header>
      <section class="modal-card-body">
            <form>
              <div class="columns is-mobile">
                <div class="column">
                  <label class="label">
                    {{#if (eq language 'ru')}}
                      Учебное заведение
                    {{else}}
                      Institutuon
                    {{/if}}
                  </label>
                  <p class="control has-icon">
                    {{input class='input bizzare-form-input'
                            value=name}}
                    <i class="fa fa-mortar-board to-up"></i>
                  </p>
                </div>
                <div class="column">
                  <label class="label">Форма обучения</label>
                  <p class="control">
                    <span class="select is-fullwidth">
                      <select id="formEdk">
                        <option value="не указано">Не указано</option>
                        <option value="очно">Очно</option>
                        <option value="заочно">Заочно</option>
                      </select>
                    </span>
                  </p>
                </div>
              </div>

              <div class="columns">
                <div class="column"><strong>Учился с</strong></div>
                <div class="column"><strong>Учился по</strong></div>
              </div>
              <div class="columns">
                <div class="column">
                  <div class="columns is-mobile">
                    <div class="column">
                      <label class="label">Год</label>
                      <p class="control">
                        <span class="select is-fullwidth">
                          <select id="fromYear">
                            <option value="2017">2017</option>
                            <option value="2016">2016</option>
                            <option value="2015">2015</option>
                            <option value="2014">2014</option>
                            <option value="2013">2013</option>
                            <option value="2012">2012</option>
                            <option value="2011">2011</option>
                            <option value="2010">2010</option>
                            <option value="2009">2009</option>
                            <option value="2008">2008</option>
                            <option value="2007">2007</option>
                            <option value="2006">2006</option>
                            <option value="2005">2005</option>
                            <option value="2004">2004</option>
                            <option value="2003">2003</option>
                            <option value="2002">2002</option>
                            <option value="2001">2001</option>
                            <option value="2000">2000</option>
                            <option value="1999">1999</option>
                            <option value="1998">1998</option>
                            <option value="1996">1997</option>
                            <option value="1996">1996</option>
                            <option value="1995">1995</option>
                            <option value="1994">1994</option>
                            <option value="1993">1993</option>
                            <option value="1992">1992</option>
                            <option value="1991">1991</option>
                            <option value="1990">1990</option>
                            <option value="1989">1989</option>
                            <option value="1988">1988</option>
                            <option value="1987">1987</option>
                            <option value="1986">1986</option>
                            <option value="1984">1985</option>
                            <option value="1984">1984</option>
                            <option value="1983">1983</option>
                          </select>
                        </span>
                      </p>
                    </div>
                    <div class="column">
                      <label class="label">Месяц</label>
                      <p class="control">
                        <span class="select is-fullwidth">
                          <select id="fromMonth">
                            <option value="01">Январь</option>
                            <option value="02">Февраль</option>
                            <option value="03">Март</option>
                            <option value="04">Апрель</option>
                            <option value="05">Май</option>
                            <option value="06">Июнь</option>
                            <option value="07">Июль</option>
                            <option value="08">Август</option>
                            <option value="09">Сентябрь</option>
                            <option value="10">Октябрь</option>
                            <option value="11">Ноябрь</option>
                            <option value="12">Декабрь</option>
                          </select>
                        </span>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="columns is-mobile">
                    <div class="column">
                      <label class="label">Год</label>
                      <p class="control">
                        <span class="select is-fullwidth">
                          <select id="toYear">
                            <option value="2017">2017</option>
                            <option value="2016">2016</option>
                            <option value="2015">2015</option>
                            <option value="2014">2014</option>
                            <option value="2013">2013</option>
                            <option value="2012">2012</option>
                            <option value="2011">2011</option>
                            <option value="2010">2010</option>
                            <option value="2009">2009</option>
                            <option value="2008">2008</option>
                            <option value="2007">2007</option>
                            <option value="2006">2006</option>
                            <option value="2005">2005</option>
                            <option value="2004">2004</option>
                            <option value="2003">2003</option>
                            <option value="2002">2002</option>
                            <option value="2001">2001</option>
                            <option value="2000">2000</option>
                            <option value="1999">1999</option>
                            <option value="1998">1998</option>
                            <option value="1996">1997</option>
                            <option value="1996">1996</option>
                            <option value="1995">1995</option>
                            <option value="1994">1994</option>
                            <option value="1993">1993</option>
                            <option value="1992">1992</option>
                            <option value="1991">1991</option>
                            <option value="1990">1990</option>
                            <option value="1989">1989</option>
                            <option value="1988">1988</option>
                            <option value="1987">1987</option>
                            <option value="1986">1986</option>
                            <option value="1984">1985</option>
                            <option value="1984">1984</option>
                            <option value="1983">1983</option>
                          </select>
                        </span>
                      </p>
                    </div>
                    <div class="column">
                      <label class="label">Месяц</label>
                      <p class="control">
                        <span class="select is-fullwidth">
                          <select id="toMonth">
                            <option value="01">Январь</option>
                            <option value="02">Февраль</option>
                            <option value="03">Март</option>
                            <option value="04">Апрель</option>
                            <option value="05">Май</option>
                            <option value="06">Июнь</option>
                            <option value="07">Июль</option>
                            <option value="08">Август</option>
                            <option value="09">Сентябрь</option>
                            <option value="10">Октябрь</option>
                            <option value="11">Ноябрь</option>
                            <option value="12">Декабрь</option>
                          </select>
                        </span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="columns">
                <div class="column">
                  <label class="label" for="test">
                    {{#if (eq language 'ru')}}
                      Специальность
                    {{else}}
                      Position
                    {{/if}}
                  </label>
                  <p class="control has-icon">
                    {{input class='input bizzare-form-input'
                            value=position}}
                    <i class="fa fa-bank to-up"></i>
                  </p>
                </div>
                <div class="column">
                  <label class="label">
                    {{#if (eq language 'ru')}}
                      Факультет
                    {{else}}
                      Department
                    {{/if}}
                  </label>
                  <p class="control has-icon">
                    {{input class='input bizzare-form-input'
                            value=department}}
                    <i class="fa fa-mortar-board to-up"></i>
                  </p>
                </div>
              </div>
              
              <div class="columns is-mobile">
                <div class="column">
                  <label class="label" for="test">
                    {{#if (eq language 'ru')}}
                      Город:
                    {{else}}
                      City:
                    {{/if}}
                  </label>
                  <p class="control has-icon">
                    <p class="control">
                      <input class="input bizzare-form-input" id="city" type="text" placeholder="Введите город" onkeyup={{action "citySearch"}}>
                    </p>
                    <i class="fa fa-map to-up"></i>
                    {{#if isTyumen}}
                      <a class="button is-bizzare-pure-button is-fullwidth" {{action "chooseCity" "Тюмень"}}>Тюмень</a><br />
                    {{/if}}
                    {{#if isEkb}}
                      <a class="button is-bizzare-pure-button is-fullwidth" {{action "chooseCity" "Екатеринбург"}}>Екатеринбург</a><br />
                    {{/if}}
                    {{#if isMoscow}}
                      <a class="button is-bizzare-pure-button is-fullwidth" {{action "chooseCity" "Москва"}}>Москва</a><br />
                    {{/if}}
                  </p>
                </div>
                <div class="column">
                  <label class="label" for="test">
                    {{#if (eq language 'ru')}}
                      Сайт:
                    {{else}}
                      Site:
                    {{/if}}
                  </label>
                  <p class="control has-icon">
                    {{input class='input bizzare-form-input'
                            value=site}}
                    <i class="fa fa-link to-up"></i>
                  </p>
                </div>
              </div>

              <div class="columns">
                <div class="column">
                  <label class="label" for="test">
                    {{#if (eq language 'ru')}}
                      Комментарии:
                    {{else}}
                      Comments:
                    {{/if}}
                  </label>
                  <p class="control has-icon">
                    {{textarea class='input bizzare-form-input'
                            value=comments}}
                    <i class="fa fa-comments to-up"></i>
                  </p>
                </div>
              </div>
            
            </form>
      </section>
      <footer class="modal-card-foot">
        <a class="button is-primary is-bizzare-pure-button" {{action 'saveData'}}>
          {{#if (eq language 'ru')}}
            Добавить
          {{else}}
            Add
          {{/if}}
        </a>
        <a class="button is-bizzare-pure-button" {{action 'closeModal'}}>
          {{#if (eq language 'ru')}}
            Отмена
          {{else}}
            Cancel
          {{/if}}
        </a>
      </footer>
    </div>
  </div>  
{{/if}}