<a class="button is-fullwidth is-bizzare-pure-button" {{action 'openModal'}}>
  <span class="icon">
    <i class="fa fa-plus"></i>
  </span>
  <span>Добавить</span>
</a>

{{#if isOpen}}
  <div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card is-modal-80">
      <header class="modal-card-head">
        <p class="modal-card-title">
          {{#if (eq language 'ru')}}
            Добавить место работы
          {{else}}
            Add job
          {{/if}}
        </p>
      </header>
      <section class="modal-card-body">
        <form>
            <div class="columns">
              <div class="column">
                <label class="label" for="position">
                	{{#if (eq language 'ru')}}
										Наименование организации
									{{else}}
										Name of company
									{{/if}}
                </label>
                <p class="control has-icon">
                	{{#if (eq language 'ru')}}
										<input id="name-add" class="input bizzare-form-input" type="text" placeholder="ООО 'Рога и копыта'">
									{{else}}
										<input id="name-add" class="input bizzare-form-input" type="text" placeholder="Barnyard, Ltd.">
									{{/if}}
	                <i class="fa fa-building to-up"></i>
                </p>
              </div>
							<div class="column">
								<label class="label">
									{{#if (eq language 'ru')}}
										Сфефера деятельности
									{{else}}
										Field of activity
									{{/if}}
								</label>
								<p class="control has-icon">
									<input id="sphere-add" class="input bizzare-form-input" type="text" placeholder="Barnyard, Ltd.">
									<i class="fa fa-building to-up"></i>
								</p>
							</div>
            </div>

            <div class="columns is-mobile">
              <div class="column">
                <label class="label" for="position">
                	{{#if (eq language 'ru')}}
                		Сайт:
                	{{else}}
                		Site:
                	{{/if}}
                </label>
                <p class="control has-icon">
	                  <input id="site-add" class="input bizzare-form-input" type="text" placeholder="http://acenter.ru">
                  	<i class="fa fa-link to-up"></i>
                </p>
              </div>
              <div class="column">
                <label class="label" for="position">
                	{{#if (eq language 'ru')}}
                		Город:
                	{{else}}
                		City:
                	{{/if}}
                </label>
                <p class="control has-icon">
                  	{{#if (eq language 'ru')}}
                  		<input id="city-add" class="input bizzare-form-input" type="text" placeholder="Тюмень">
                  	{{else}}
                  		<input id="city-add" class="input bizzare-form-input" type="text" placeholder="Tyumen">
                  	{{/if}}
                  	<i class="fa fa-map to-up"></i>
                </p>
              </div>
            </div>

            <div class="columns is-mobile">
              <div class="column">
                <label class="label" for="position">
                	{{#if (eq language 'ru')}}
                		Должность:
                	{{else}}
                		Position:
                	{{/if}}
                </label>
                <p class="control has-icon">
                  	{{#if (eq language 'ru')}}
                  		<input id="position-add" class="input bizzare-form-input" type="text" placeholder="Менеджер по продажам">
                  	{{else}}
                  		<input id="position-add" class="input bizzare-form-input" type="text" placeholder="Sales Manager">
                  	{{/if}}
                  	<i class="fa fa-user to-up"></i>
                </p>
              </div>
							<div class="column">
								<label class="label">
									{{#if (eq language 'ru')}}
										Количество человек в подчинении
									{{else}}
										Number of people in subjection
									{{/if}}
									<p class="control">
										<input id="pride-add" class="input bizzare-form-input" type="text" placeholder="Sales Manager">
									</p>
								</label>
							</div>
            </div>

            <div class="columns">   
              <div class="column">
								<div class="columns">
									<div class="column">
										<strong>Работал с</strong>
									</div>
								</div>
								<div class="columns is-mobile">
									<div class="column">
										<p class="control">
											<span class="select is-fullwidth">
												<select id="fromMonth-add">
													<option value="01">Январь</option>
													<option value="02">Февраль</option>
													<option value="03">Март</option>
													<option value="04">Апрель</option>
													<option value="05">Май</option>
													<option value="06">Июнь</option>
													<option value="07">Июль</option>
													<option value="08">Август</option>
													<option value="09">Сентябрь</option>
													<option value="10">Октябрь</option>
													<option value="11">Ноябрь</option>
													<option value="12">Декабрь</option>
												</select>
											</span>
										</p>
									</div>
									<div class="column">
										<p class="control">
											<span class="select is-fullwidth">
												<select id="fromYear-add">
													<option value="2017">2017</option>
													<option value="2016">2016</option>
													<option value="2015">2015</option>
													<option value="2014">2014</option>
													<option value="2013">2013</option>
													<option value="2012">2012</option>
													<option value="2011">2011</option>
													<option value="2010">2010</option>
													<option value="2009">2009</option>
													<option value="2008">2008</option>
													<option value="2007">2007</option>
													<option value="2006">2006</option>
													<option value="2005">2005</option>
													<option value="2004">2004</option>
													<option value="2003">2003</option>
													<option value="2002">2002</option>
													<option value="2001">2001</option>
													<option value="2000">2000</option>
													<option value="1999">1999</option>
													<option value="1998">1998</option>
													<option value="1996">1997</option>
													<option value="1996">1996</option>
													<option value="1995">1995</option>
													<option value="1994">1994</option>
													<option value="1993">1993</option>
													<option value="1992">1992</option>
													<option value="1991">1991</option>
													<option value="1990">1990</option>
													<option value="1989">1989</option>
													<option value="1988">1988</option>
													<option value="1987">1987</option>
													<option value="1986">1986</option>
													<option value="1984">1985</option>
													<option value="1984">1984</option>
													<option value="1983">1983</option>
												</select>
											</span>
										</p>
									</div>
								</div>
              </div>
              <div class="column">
								<div class="columns">
									<div class="column">
										<strong>Работал до</strong>
									</div>
								</div>
								<div class="columns is-mobile">
									<div class="column">
										<p class="control">
											<span class="select is-fullwidth">
												<select id="toMonth-add">
													<option value="current">Настоящее время</option>
													<option value="01">Январь</option>
													<option value="02">Февраль</option>
													<option value="03">Март</option>
													<option value="04">Апрель</option>
													<option value="05">Май</option>
													<option value="06">Июнь</option>
													<option value="07">Июль</option>
													<option value="08">Август</option>
													<option value="09">Сентябрь</option>
													<option value="10">Октябрь</option>
													<option value="11">Ноябрь</option>
													<option value="12">Декабрь</option>
												</select>
											</span>
										</p>
									</div>
									<div class="column">
										<p class="control">
											<span class="select is-fullwidth">
												<select id="toYear-add">
													<option value="current">Настоящее время</option>
													<option value="2017">2017</option>
													<option value="2016">2016</option>
													<option value="2015">2015</option>
													<option value="2014">2014</option>
													<option value="2013">2013</option>
													<option value="2012">2012</option>
													<option value="2011">2011</option>
													<option value="2010">2010</option>
													<option value="2009">2009</option>
													<option value="2008">2008</option>
													<option value="2007">2007</option>
													<option value="2006">2006</option>
													<option value="2005">2005</option>
													<option value="2004">2004</option>
													<option value="2003">2003</option>
													<option value="2002">2002</option>
													<option value="2001">2001</option>
													<option value="2000">2000</option>
													<option value="1999">1999</option>
													<option value="1998">1998</option>
													<option value="1996">1997</option>
													<option value="1996">1996</option>
													<option value="1995">1995</option>
													<option value="1994">1994</option>
													<option value="1993">1993</option>
													<option value="1992">1992</option>
													<option value="1991">1991</option>
													<option value="1990">1990</option>
													<option value="1989">1989</option>
													<option value="1988">1988</option>
													<option value="1987">1987</option>
													<option value="1986">1986</option>
													<option value="1984">1985</option>
													<option value="1984">1984</option>
													<option value="1983">1983</option>
												</select>
											</span>
										</p>
									</div>
								</div>
              </div>
            </div>

            <div class="columns">
              <div class="column">
                <label class="label" for="to">
                	{{#if (eq language 'ru')}}
                		Обязанности:
                	{{else}}
                		Duties:
                	{{/if}}
                </label>
                {{#if (eq language 'ru')}}
	                <em>(перечислите обязанности через запятую)</em>
	            {{else}}
	            	<em>(list the duties separated by commas)</em>
	            {{/if}}
                <p class="control has-icon">
                  <textarea id="jobs-add" class="input bizzare-form-input" type="text" placeholder=""></textarea>
                  <i class="fa fa-bars to-up"></i>
                </p>
              </div>
            </div>

            <div class="columns">
              <div class="column">
                <label class="label" for="to">
                	{{#if (eq language 'ru')}}
                		Достижения:
                	{{else}}
                		Achivments:
                	{{/if}}
                </label>
                {{#if (eq language 'ru')}}
	                <em>(перечислите обязанности через запятую)</em>
	            {{else}}
	            	<em>(list the duties separated by commas)</em>
	            {{/if}}
                <p class="control has-icon">
                  <textarea id="achivki-add" class="input bizzare-form-input" type="text" placeholder=""></textarea>
                  <i class="fa fa-bars to-up"></i>
                </p>
              </div>
            </div>

        </form>
      </section>
      <footer class="modal-card-foot">
        <a class="button is-primary" {{action 'saveData'}}>
          {{#if (eq language 'ru')}}
            Добавить
          {{else}}
            Add job
          {{/if}}
        </a>
        <a class="button" {{action 'closeModal'}}>
          {{#if (eq language 'ru')}}
            Отменить
          {{else}}
            Cancel
          {{/if}}
        </a>
      </footer>
    </div>
  </div>  
{{/if}}