<a class="button is-bizzare-pure-button is-fullwidth" {{action 'toggleModal'}}>
  <img src="edit-icon.png" />&nbsp;
  <span>Править</span>
</a>


<div class="modal {{if isOpen 'is-active'}}">
  <div class="modal-background"></div>
  <div class="modal-card is-modal-80">
    <header class="modal-card-head">
      <p class="modal-card-title">
        {{#if (eq language 'ru')}}
          Редактировать дополнительную информацию
        {{else}}
          Edit additional information
        {{/if}}
      </p>
    </header>
    <section class="modal-card-body">
      <form>
        <div class="columns">
          <div class="column">
            <label class="label">
              {{#if (eq language 'ru')}}
                Иностранные языки
              {{else}}
                Foreign languages
              {{/if}}
            </label>
              <div class="columns">
                <div class="column" id="myLanguages">
                  {{#if isAdded}}
                    {{#each myLanguages as |item|}}
                    <div class="columns is-mobile" id="lang-{{item.name}}">
                      <div class="column has-text-left">
                        <span id="lang-text-{{item.name}}">{{item.name}} 
                          {{#if (eq item.state '1')}}
                            (базовый)
                          {{else}}
                            {{#if (eq item.state '2')}}
                              (чтение проф. литературы)
                            {{else}}
                              {{#if (eq item.state '3')}}
                                (разговорный)
                              {{else}}
                                {{#if (eq item.state '4')}}
                                  (свободный)
                                {{else}}
                                  (технический)
                                {{/if}}
                              {{/if}}
                            {{/if}}
                          {{/if}}
                        </span>
                      </div>
                      <div class="column has-text-right">
                        <a class="button is-link" {{action 'editLanguage' item.name item.state}}>
                          <span class="icon">
                            <i class="fa fa-pencil"></i>
                          </span>
                        </a>
                        <a class="button is-link" {{action 'deleteLanguage' item.name}}>
                          <span class="icon">
                            <i class="fa fa-trash"></i>
                          </span>
                        </a>
                      </div>
                    </div>
                  {{/each}}
                  {{/if}}
                </div>
              </div>
            <div class="columns">
              <div class="column">
                <p class="control">
                  <div class="columns">
                    <div class="column is-2">
                      <a class="button is-link" {{action 'saveOrAddLanguage'}}>
                        <span class="icon">
                          <a class="fa fa-floppy-o"></a>
                        </span>
                        <span class="is-hidden-desktop">Сохранить язык</span>
                      </a>
                    </div>
                    <div class="column is-10">
                      <input id="otherLanguages" class="input bizzare-form-input" type="text" placeholder="Введите язык" onkeyup={{action 'languageSearch'}}>
                    </div>
                  </div>
                  {{#if iSeeABlue}}
                    {{#if isRussian}}
                      <a class="button is-fullwidth" {{action 'chooseLanguage' 'Русский'}}>Русский</a>
                    {{/if}}
                    {{#if isEnglish}}
                      <a class="button is-fullwidth" {{action 'chooseLanguage' 'Английский'}}>Английский</a>
                    {{/if}}
                  {{/if}}
                </p>
              </div>
              <div class="column">
                <p class="control">
                  <span class="select is-fullwidth">
                    <select id="languageState">
                      <option value="1">Базовый</option>
                      <option value="2">Чтение проф.литературы</option>
                      <option value="3">Разговорный</option>
                      <option value="4">Свободный</option>
                      <option value="5">Технический</option>
                    </select>
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <label class="label">
              {{#if (eq language 'ru')}}
                Водительские права
              {{else}}
                Driver's license
              {{/if}}
            </label>
            <div class="columns is-mobile has-text-centered">
              <div class="column">
                <div class="colums">
                  <div class="column">
                    <div class="columns is-mobile">
                      <div class="column">
                        {{#if isDriverNo}}
                          <a class="button is-success" {{action 'driverNo'}}>
                            {{#if (eq language 'ru')}}
                              Нет
                            {{else}}
                              No
                            {{/if}}
                          </a>
                        {{else}}
                          <a class="button" {{action 'driverNo'}}>
                            {{#if (eq language 'ru')}}
                              Нет
                            {{else}}
                              No
                            {{/if}}
                          </a>
                        {{/if}}
                      </div>
                      <div class="column">
                        {{#if isDriverA}}
                          <a class="button is-success" {{action 'driverA'}}>
                            А
                          </a>
                        {{else}}
                          <a class="button" {{action 'driverA'}}>
                            А
                          </a>
                        {{/if}}
                      </div>
                      <div class="column">
                        {{#if isDriverB}}
                          <a class="button is-success" {{action 'driverB'}}>
                            B
                          </a>
                        {{else}}
                          <a class="button" {{action 'driverB'}}>
                            B
                          </a>
                        {{/if}}
                      </div>
                    </div>
                  </div>
                  <div class="column">
                    <div class="columns is-mobile">
                                            <div class="column">
                      {{#if isDriverC}}
                        <a class="button is-success" {{action 'driverC'}}>
                          C
                        </a>
                      {{else}}
                        <a class="button" {{action 'driverC'}}>
                          C
                        </a>
                      {{/if}}
                    </div>
                    <div class="column">
                      {{#if isDriverD}}
                        <a class="button is-success" {{action 'driverD'}}>
                          D
                        </a>
                      {{else}}
                        <a class="button" {{action 'driverD'}}>
                          D
                        </a>
                      {{/if}}
                    </div>
                    <div class="column">
                      {{#if isDriverE}}
                        <a class="button is-success" {{action 'driverE'}}>
                          E
                        </a>
                      {{else}}
                        <a class="button" {{action 'driverE'}}>
                          E
                        </a>
                      {{/if}}
                    </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <label class="label">
              {{#if (eq language 'ru')}}
                Владение компьютером, специализированными программами
              {{else}}
                Computer skills, special skills
              {{/if}}
            </label>
            <p class="control">
              <textarea id="computer" class="textarea" value="{{otherInfo.computer}}"></textarea>
            </p>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <label class="label">
              {{#if (eq language 'ru')}}
                Личные качества
              {{else}}
                Personal qualities
              {{/if}}
            </label>
            <p class="control">
              <textarea id="personalQualities" class="textarea" value="{{otherInfo.personalQualities}}"></textarea>
            </p>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <label class="label">
              {{#if (eq language 'ru')}}
                Дополнительная информация
              {{else}}
                Additional Information
              {{/if}}
            </label>
            <p class="control">
              <textarea id="additionalInfo" class="textarea" value="{{otherInfo.additionalInfo}}"></textarea>
            </p>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <label class="label">
              {{#if (eq language 'ru')}}
                Причина поиска новой работы
              {{else}}
                Причина поиска новой работы
              {{/if}}
            </label>
            <p class="control">
              <textarea id="prichina" class="textarea" value="{{otherInfo.prichina}}"></textarea>
            </p>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <label class="label">
              {{#if (eq language 'ru')}}
                Профессиональные навыки
              {{else}}
                Professonals skills
              {{/if}}
            </label>
            <p class="control">
              <textarea id="profskils" class="textarea" value="{{otherInfo.profskils}}"></textarea>
            </p>
          </div>
        </div>
        <div class="columns">
          <div class="column has-text-left">
            {{#if isSave}}
              <a class="button is-success" {{action 'toggleSave'}}>
                <span class="icon">
                  <i class="fa fa-check"></i>
                </span>
                <span>Сохранить в базу "АЦ"</span>
              </a>
            {{else}}
              <a class="button" {{action 'toggleSave'}}>
                <span class="icon">
                  <i class="fa fa-ban"></i>
                </span>
                <span>Сохранить в базу "АЦ"</span>
              </a>
            {{/if}}
          </div>
        </div>
      </form>
    </section>
    <footer class="modal-card-foot">
      <a class="button is-primary" {{action 'saveChanges'}}>
        {{#if (eq language 'ru')}}
          Сохранить
        {{else}}
          Save
        {{/if}}
      </a>
      <a class="button" {{action 'toggleModal'}}>
        {{#if (eq language 'ru')}}
          Отменить
        {{else}}
          Cancel
        {{/if}}
      </a>
    </footer>
  </div>
</div>
