<div id="cvpage" class="box is-fullwidth">
	{{#if (eq template 'three')}}
		<div class="columns">
			<div class="column is-half is-offset-one-quarter">
				<center>
					{{avatar-cropper}}
				</center>
			</div>
		</div>
		<div class="columns">
			<div class="column has-text-centered">
				<h2 class="title is-2">{{fio}}</h2>
				<h3 class="title is-3">{{position}}</h3>
				<h5 class="title is-5">
					{{#if (eq language 'ru')}}
						Дата рождения: {{dateOfBirth}} {{helper-icon title="Пример заголовка" text="Пример текста"}}
					{{else}}
						Date of Birth: {{dateOfBirth}}
					{{/if}}
				</h5>
				<div class="columns">
					<div class="column">
						{{#if (eq language 'ru')}}
							<strong>Командировки: </strong>
								{{#if (eq komandirovki "0")}}
									Не готов
								{{else}}
									{{#if (eq komandirovki "1")}}
										Готов
									{{else}}
										Не определено
									{{/if}}
								{{/if}}
						{{else}}
							<strong>Business trips: </strong>
								{{#if (eq komandirovki "0")}}
									Not ready
								{{else}}
									{{#if (eq komandirovki "1")}}
										Ready
									{{else}}
										Not Specified
									{{/if}}
								{{/if}}
						{{/if}}
					</div>
					<div class="column">
						{{#if (eq language 'ru')}}
								<strong>Готов к переезду: </strong>
								{{#if (eq pereezd "0")}}
									Не готов
								{{else}}
									{{#if (eq pereezd "1")}}
										Готов
									{{else}}
										Не определено
									{{/if}}
								{{/if}}
							{{else}}
								<strong>Ready to move to other city: </strong>
								{{#if (eq pereezd "0")}}
									Not Ready
								{{else}}
									{{#if (eq pereezd "1")}}
										Ready
									{{else}}
										Not Specified
									{{/if}}
								{{/if}}
							{{/if}}
					</div>
				</div>
				<div class="columns">
					<div class="column has-text-centered">
						{{#if (eq language 'ru')}}
							<strong>Гражданство: </strong>{{citizenship}}
						{{else}}
							<strong>Citezenship: </strong>{{citizenship}}
						{{/if}}
					</div>
					<div class="column has-text-centered">
						{{#if (eq language 'ru')}}
							<strong>Город: </strong>{{city}}
						{{else}}
							<strong>City: </strong>{{city}}
						{{/if}}
					</div>
					<div class="column has-text-centered">
						{{#if (eq language 'ru')}}
							<strong>Пол: </strong>
							{{#if (eq gender 'male')}}
								мужской
							{{else}}
								женский
							{{/if}}
						{{else}}
							<strong>Sex: </strong>{{gender}}
						{{/if}}
					</div>
				</div>
				<h5 class="title is-5">
					{{#if (eq language 'ru')}}
						<span>Желаемый уровень заработной платы: {{wage}}</span>
						<span class="icon">
							<i class="fa fa-rub"></i>
						</span>
					{{else}}
						<span>Desired wages: {{wage}}</span>
						<span class="icon">
							<i class="fa fa-usd"></i>
						</span>
					{{/if}}
				</h5>
			</div>
		</div>
		<div class="columns has-text-centered is-mobile">
			<div class="column">
				<a class="button is-link none-decoration" href="tel:{{phone}}">
					<span class="icon">
						<i class="fa fa-phone"></i>
					</span>
					<span class="is-22aac1-text">{{phone}}</span>
				</a>
			</div>
			<div class="column">
				<a class="button is-link none-decoration" href="mailto:{{email}}">
					<span class="icon">
						<i class="fa fa-envelope"></i>
					</span>
					<span class="is-22aac1-text">{{email}}</span>
				</a>
			</div>
		</div>
		<div class="columns has-text-centered is-mobile">
			<div class="column">
				<a class="button is-link none-decoration">
					<span class="icon">
						<i class="fa fa-skype"></i>
					</span>
					<span class="is-22aac1-text">{{skype}}</span>
				</a>
			</div>
			<div class="column">
				<a class="button is-link none-decoration" href="https://{{site}}" target="_blank">
					<span class="icon">
						<i class="fa fa-globe"></i>
					</span>
					<span class="is-22aac1-text">{{site}}</span>
				</a>
			</div>
		</div>
	{{else}}
		{{#if (eq template 'one')}}
			<div class="columns">
				<div class="column">
					<h3 class="title is-3">{{fio}}</h3>
					<h4 class="title is-4">{{position}}</h4>
				</div>
			</div>
			<div class="columns">
				<div class="column is-6">
					<div class="columns is-mobile">
						<div class="column">
							<small>
								{{#if (eq language 'ru')}}
									<strong>Дата рождения:</strong> {{dateOfBirth}}<br />
									<strong>Желаемый уровень заработной платы:</strong> {{wage}} руб.<br />
									<strong>Пол: </strong>
									{{#if (eq gender 'male')}}
										мужской
									{{else}}
										женский
									{{/if}}
									<br />
									<strong>Командировки: </strong>
									{{#if (eq komandirovki "0" )}}
										Не готов
									{{else}}
										{{#if (eq komandirovki "1")}}
											Готов
										{{else}}
											Не отмечено
										{{/if}}
									{{/if}}
									<br />
									<strong>Готов к переезду в другой город: </strong>
									{{#if (eq pereezd "0")}}
										Не готов
									{{else}}
										{{#if (eq pereezd "1")}}
											Готов
										{{else}}
											Не отмечено
										{{/if}}
									{{/if}}
									<br />
									<strong>Город: </strong>{{city}}<br />
									<strong>Гражданство: </strong>{{citizenship}}<br />
									<strong>Телефон:</strong> {{phone}} <br />
									<strong>Электронная почта: </strong> {{email}}<br />
									<strong>Skype: </strong> {{skype}}<br />
									<strong>Сайт: </strong> {{site}}
								{{else}}
									<strong>Date of Birth:</strong> {{dateOfBirth}}<br />
									<strong>Desired wages:</strong> {{wage}} usd <br />
									<strong>Sex: </strong>{{gender}}<br />
									<strong>Business trips: </strong>
									{{#if (eq komandirovki "0")}}
										Not Ready
									{{else}}
										{{#if (eq komandirovki "1")}}
											Ready
										{{else}}
											Not Specified
										{{/if}}
									{{/if}}
									<br />
									<strong>Ready to move to other city: </strong>
									{{#if (eq pereezd 0 )}}
										Not Ready
									{{else}}
										{{#if (eq pereezd 1)}}
											Ready
										{{else}}
											Not Specified
										{{/if}}
									{{/if}}
									<br />
									<strong>City: </strong>{{city}}<br />
									<strong>Citizenship: </strong>{{citizenship}}<br />
									<strong>Phone:</strong> {{phone}}<br />
									<strong>Email: </strong>{{email}}<br />
									<strong>Skype: </strong> {{skype}}<br />
									<strong>Site: </strong> {{site}}
								{{/if}}
							</small>
						</div>
					</div>
				</div>
				<div class="column is-6">
					<div class="columns">
						<div class="column is-half is-offset-one-quarter">
							<center>
								{{avatar-cropper}}
							</center>
						</div>
					</div>
				</div>
			</div>
		{{else}}
			<div class="columns">
				<div class="column is-border-right">
					<div class="columns">
						<div class="column">
							<center>
								{{avatar-cropper}}
							</center>
						</div>
						<div class="column">
							<h4 class="title is-4">{{fio}}</h4>
							<h5 class="title is-5">{{position}}</h5>
						</div>
					</div>
					<hr />
					<div class="columns">
						<div class="column">
							{{#if (eq language 'ru')}}
								<strong>Командировки: </strong>
								{{#if (eq komandirovki "0")}}
									Не готов
								{{else}}
									{{#if (eq komandirovki "1")}}
										Готов
									{{else}}
										Не определено
									{{/if}}
								{{/if}}
							{{else}}
								<strong>Business trips: </strong>
								{{#if (eq komandirovki "0")}}
									Not Ready
								{{else}}
									{{#if (eq komandirovki "1")}}
										Ready
									{{else}}
										Not Specified
									{{/if}}
								{{/if}}
							{{/if}}
						</div>
						<div class="column">
							{{#if (eq language 'ru')}}
								<strong>Готов к переезду в другой город: </strong>
								{{#if (eq pereezd "0")}}
									Не готов
								{{else}}
									{{#if (eq pereezd "1")}}
										Готов
									{{else}}
										Не определено
									{{/if}}
								{{/if}}
							{{else}}
								<strong>Ready to move to other city: </strong>
								{{#if (eq pereezd "0")}}
									Not Ready
								{{else}}
									{{#if (eq pereezd "1")}}
										Ready
									{{else}}
										Not Specified
									{{/if}}
								{{/if}}
							{{/if}}
						</div>
					</div>
					<div class="columns">
						<div class="column">
							{{#if (eq language 'ru')}}
								<strong>Город: </strong><span class="is-danger-text">{{city}}</span>
							{{else}}
								<strong>City: </strong><span class="is-danger-text">{{city}}</span>
							{{/if}}
						</div>
						<div class="column">
							{{#if (eq language 'ru')}}
								<strong>Гражданство: </strong><span class="is-danger-text">{{citizenship}}</span>
							{{else}}
								<strong>Citizensip: </strong><span class="is-danger-text">{{citizenship}}</span>
							{{/if}}
						</div>
					</div>
					<div class="columns">
						<div class="column">
							{{#if (eq language 'ru')}}
								<strong>Пол: </strong>
									{{#if (eq gender 'male')}}
										<span class="is-danger-text">мужской</span>
									{{else}}
										<span class="is-danger-text">женский</span>
									{{/if}}
							{{else}}
								<strong>Sex: </strong><span class="is-danger-text">{{gender}}</span>
							{{/if}}
						</div>
						<div class="column">
							{{#if (eq language 'ru')}}
								<strong>Дата рождения: </strong> <span class="is-danger-text">{{dateOfBirth}}</span>
							{{else}}
								<strong>Date of bidth: </strong> <span class="is-danger-text">{{dateOfBirth}}</span>
							{{/if}}
						</div>
					</div>
					<div class="columns">
						<div class="column">
							{{#if (eq language 'ru')}}
								<strong>Желаемый уровнь заработной платы: </strong> <span class="is-danger-text">{{wage}} рублей</span>
							{{else}}
								<strong>Wage: </strong> <span class="is-danger-text">{{wage}} dollars</span>
							{{/if}}
						</div>
					</div>
					<div class="columns">
						<div class="column">
							<a class="button is-link none-decoration" href="tel:{{phone}}">
								<span class="icon">
									<i class="fa fa-phone"></i>
								</span>
								<span class="is-danger-text">{{phone}}</span>
							</a>
						</div>
						<div class="column">
							<a class="button is-link none-decoration" href="mailto:{{email}}">
								<span class="icon">
									<i class="fa fa-envelope"></i>
								</span>
								<span class="is-danger-text">{{email}}</span>
							</a>
						</div>
					</div>
					<div class="columns">
						<div class="column">
							<a class="button is-link none-decoration">
								<span class="icon">
									<i class="fa fa-skype"></i>
								</span>
								<span class="is-danger-text">{{skype}}</span>
							</a>
						</div>
						<div class="column has-text-left">
							<a class="button is-link none-decoration" href="https://{{site}}" target="_blank">
								<span class="icon">
									<i class="fa fa-globe"></i>
								</span>
								<span class="is-danger-text">http://{{site}}</span>
							</a>
						</div>
					</div>
					<div class="columns">
						<div class="column">
							{{other-info}}
						</div>
					</div>
				</div>
				<div class="column">
					{{education-list}}
					{{work-list}}
				</div>
			</div>
			{{#if (eq state 'one')}}
				{{button-add-info}}<br />
				<div class="columns">
					<div class="column">
						{{image-gallery}}
					</div>
				</div>
			{{else}}
			{{/if}}
		{{/if}}
	{{/if}}
	{{#if (not-eq template 'two')}}
		{{#if (eq state 'one')}}
			{{button-add-info}}
			{{image-gallery}}
		{{else}}
			{{#if (eq state 'two')}}
				{{education-list}}
			{{else}}
				{{#if (eq state 'three')}}
					{{work-list}}
				{{else}}
					{{#if (eq state 'fore')}}
						{{other-info}}
					{{else}}
						{{education-list}}
						{{work-list}}
						{{other-info}}
					{{/if}}
				{{/if}}
			{{/if}}
		{{/if}}
	{{/if}}
</div>
