{{#if (eq template 'three')}}
  <div class="columns">
    <div class="column has-text-right left-three">
      <span class="is-22aac1-text-bold">C {{fromMonth}}.{{fromYear}} ПО {{toMonth}}.{{toYear}}</span><br />
      <strong>{{name}}, {{department}}</strong>,  
      <strong>{{city}}</strong>, <a class="is-22aac1-text-link" href="http://{{site}}" target="_blank">{{site}}</a>
    </div>
    <div class="column has-text-left">
      <div class="columns is-mobile">
        <div class="column">
          <span class="is-22aac1-text-bold">{{position}}</span><br />
          Форма обучения: {{formEdk}} <br />
          <strong>
            {{#if (eq language 'ru')}}
              Комментарии: 
            {{else}}
              Comments:
            {{/if}}
          </strong>{{comments}}
        </div>
        <div class="column has-text-right is-one-quarter">
          <a class="button is-link" {{action 'openEdit'}}>
            <span class="icon">
              <i class="fa fa-pencil"></i>
            </span>
          </a><br />
          <a class="button is-link none-decoration" {{action 'openTrash'}}>
            <span class="icon">
              <i class="fa fa-trash"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
{{else}}
  {{#if (eq template 'one')}}
    <div class="columns is-mobile">
      <div class="column">
        <h5 class="title is-5"><strong>{{position}} ({{formEdk}})</strong></h5>
        <h6 class="titile is-6">{{name}}, {{department}}, {{city}} (<a href="{{site}}">{{site}}</a>)</h6>
        {{comments}}<br />
        {{fromYear}}.{{fromMonth}} - {{toMonth}}.{{toYear}}   
      </div>
      <div class="column has-text-right is-one-quarter">
          <a class="button is-link" {{action 'openEdit'}}>
            <span class="icon">
              <i class="fa fa-pencil"></i>
            </span>
          </a><br />
          <a class="button is-link none-decoration" {{action 'openTrash'}}>
            <span class="icon">
              <i class="fa fa-trash"></i>
            </span>
          </a>
      </div>
    </div>
  {{else}}
    <div class="columns">
      <div class="column">
        <strong>{{name}} (<span class="is-danger-text">{{position}}, {{department}}, {{formEdk}}</span>)</strong><br />
        <small>
          {{city}}, {{fromMonth}}.{{fromYear}}-{{toMonth}}.{{toYear}}<br />
          {{comments}}
        </small>
      </div>
    </div>
    {{#if (eq step 'step2')}}
      <div class="columns">
        <div class="column">
          <a class="button is-link is-fullwidth" {{action 'openEdit'}}>
            <span class="icon">
              <i class="fa fa-pencil"></i>
            </span>
          </a>
        </div>
        <div class="column">
          <a class="button is-link none-decoration is-fullwidth" {{action 'openTrash'}}>
            <span class="icon">
              <i class="fa fa-trash"></i>
            </span>
          </a>
        </div>
      </div>
    {{/if}}
  {{/if}}
{{/if}}
	<div class="modal" id="editModal-{{name}}">
		<div class="modal-background"></div>
		<div class="modal-card is-modal-80">
			<header class="modal-card-head">
				<p class="modal-card-title">
          {{#if (eq language 'ru')}}
            Редактировать место учебы
          {{else}}
            Edit place of study
          {{/if}}
        </p>
	   </header>
	      	<section class="modal-card-body">
          <form id="editWork" name='editWork'>
            
            <div class="columns">
              <div class="column">
                <label class="label" for="position">
                  {{#if (eq language 'ru')}}
                    Учебное заведение:
                  {{else}}
                    Institution
                  {{/if}}                
                </label>
                <p class="control has-icon">
                  {{#if (eq language 'ru')}}
                    <input id="name-{{name}}" class="input" type="text" placeholder="Тюменский Государственный Университет" value="{{name}}">
                  {{else}}
                    <input id="name-{{name}}" class="input" type="text" placeholder="Tyumen State University" value="{{name}}">
                  {{/if}}
                  <i class="fa fa-mortar-board to-up"></i>
                </p>
              </div>
              <div class="column">
                <label class="label">Форма обучения</label>
                <p class="control">
                  <span class="select is-fullwidth">
                    <select id="formEdk-{{name}}">
                      <option value="{{formEdk}}">{{formEdk}}</option>
                      <option value="не указано">Не указано</option>
                      <option value="очно">Очно</option>
                      <option value="заочно">Заочно</option>
                    </select>
                  </span>
                </p>
              </div>
            </div>

              <div class="columns">
                <div class="column">
                  <div class="columns is-mobile">
                    <div class="column">
                      <div class="columns">
                        <div class="column"><strong>Учился с</strong></div>
                      </div>
                      <div class="columns">
                        <div class="column">
                          <div class="columns is-mobile">
                            <div class="column">
                              <p class="control">
                                <span class="select is-fullwidth">
                                  <select id="fromYear-{{name}}">
                                    <option value="{{fromYear}}">{{fromYear}}</option>
                                    <option value="2017">2017</option>
                                    <option value="2016">2016</option>
                                    <option value="2015">2015</option>
                                    <option value="2014">2014</option>
                                    <option value="2013">2013</option>
                                    <option value="2012">2012</option>
                                    <option value="2011">2011</option>
                                    <option value="2010">2010</option>
                                    <option value="2009">2009</option>
                                    <option value="2008">2008</option>
                                    <option value="2007">2007</option>
                                    <option value="2006">2006</option>
                                    <option value="2005">2005</option>
                                    <option value="2004">2004</option>
                                    <option value="2003">2003</option>
                                    <option value="2002">2002</option>
                                    <option value="2001">2001</option>
                                    <option value="2000">2000</option>
                                    <option value="1999">1999</option>
                                    <option value="1998">1998</option>
                                    <option value="1996">1997</option>
                                    <option value="1996">1996</option>
                                    <option value="1995">1995</option>
                                    <option value="1994">1994</option>
                                    <option value="1993">1993</option>
                                    <option value="1992">1992</option>
                                    <option value="1991">1991</option>
                                    <option value="1990">1990</option>
                                    <option value="1989">1989</option>
                                    <option value="1988">1988</option>
                                    <option value="1987">1987</option>
                                    <option value="1986">1986</option>
                                    <option value="1984">1985</option>
                                    <option value="1984">1984</option>
                                    <option value="1983">1983</option>
                                  </select>
                                </span>
                              </p>
                            </div>
                            <div class="column">
                                <p class="control">
                                  <span class="select is-fullwidth">
                                    <select id="fromMonth-{{name}}">
                                      <option value="{{fromMonth}}">
                                        {{#if (eq fromMonth '01')}}
                                          Январь
                                        {{else}}
                                          {{#if (eq fromMonth '02')}}
                                          Февраль
                                          {{else}}
                                            {{#if (eq fromMonth '03')}}
                                            Март
                                            {{else}}
                                              {{#if (eq fromMonth '04')}}
                                              Апрель
                                              {{else}}
                                                {{#if (eq fromMonth '05')}}
                                                Май
                                                {{else}}
                                                  {{#if (eq fromMonth '06')}}
                                                  Июнь
                                                  {{else}}
                                                    {{#if (eq fromMonth '07')}}
                                                    Июль
                                                    {{else}}
                                                      {{#if (eq fromMonth '08')}}
                                                      Август
                                                      {{else}}
                                                        {{#if (eq fromMonth '09')}}
                                                        Сентябрь
                                                        {{else}}
                                                          {{#if (eq fromMonth '10')}}
                                                          Октябрь
                                                          {{else}}
                                                            {{#if (eq fromMonth '11')}}
                                                            Ноябрь
                                                            {{else}}
                                                              Декабрь
                                                            {{/if}}
                                                          {{/if}}
                                                        {{/if}}
                                                      {{/if}}
                                                    {{/if}}
                                                  {{/if}}
                                                {{/if}}
                                              {{/if}}
                                            {{/if}}
                                          {{/if}}
                                        {{/if}}
                                      </option>
                                      <option value="01">Январь</option>
                                      <option value="02">Февраль</option>
                                      <option value="03">Март</option>
                                      <option value="04">Апрель</option>
                                      <option value="05">Май</option>
                                      <option value="06">Июнь</option>
                                      <option value="07">Июль</option>
                                      <option value="08">Август</option>
                                      <option value="09">Сентябрь</option>
                                      <option value="10">Октябрь</option>
                                      <option value="11">Ноябрь</option>
                                      <option value="12">Декабрь</option>
                                    </select>
                                  </span>
                                </p>
          
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="columns is-mobile">
                    <div class="column">
                      <div class="columns">
                        <div class="column">
                          <strong>Учился по</strong>
                        </div>
                      </div>
                      <div class="columns is-mobile">
                        <div class="column">
                         <p class="control">
                          <span class="select is-fullwidth">
                            <select id="toYear-{{name}}">
                              <option value="{{toYear}}">{{toYear}}</option>
                              <option value="2017">2017</option>
                              <option value="2016">2016</option>
                              <option value="2015">2015</option>
                              <option value="2014">2014</option>
                              <option value="2013">2013</option>
                              <option value="2012">2012</option>
                              <option value="2011">2011</option>
                              <option value="2010">2010</option>
                              <option value="2009">2009</option>
                              <option value="2008">2008</option>
                              <option value="2007">2007</option>
                              <option value="2006">2006</option>
                              <option value="2005">2005</option>
                              <option value="2004">2004</option>
                              <option value="2003">2003</option>
                              <option value="2002">2002</option>
                              <option value="2001">2001</option>
                              <option value="2000">2000</option>
                              <option value="1999">1999</option>
                              <option value="1998">1998</option>
                              <option value="1996">1997</option>
                              <option value="1996">1996</option>
                              <option value="1995">1995</option>
                              <option value="1994">1994</option>
                              <option value="1993">1993</option>
                              <option value="1992">1992</option>
                              <option value="1991">1991</option>
                              <option value="1990">1990</option>
                              <option value="1989">1989</option>
                              <option value="1988">1988</option>
                              <option value="1987">1987</option>
                              <option value="1986">1986</option>
                              <option value="1984">1985</option>
                              <option value="1984">1984</option>
                              <option value="1983">1983</option>
                            </select>
                          </span>
                        </p>
                        </div>
                        <div class="column">
                          <p class="control">
                            <span class="select is-fullwidth">
                              <select id="toMonth-{{name}}">
                                <option value="{{toMonth}}">
                                  {{#if (eq toMonth '01')}}
                                    Январь
                                  {{else}}
                                    {{#if (eq toMonth '02')}}
                                    Февраль
                                    {{else}}
                                      {{#if (eq toMonth '03')}}
                                      Март
                                      {{else}}
                                        {{#if (eq toMonth '04')}}
                                        Апрель
                                        {{else}}
                                          {{#if (eq toMonth '05')}}
                                          Май
                                          {{else}}
                                            {{#if (eq toMonth '06')}}
                                            Июнь
                                            {{else}}
                                              {{#if (eq toMonth '07')}}
                                              Июль
                                              {{else}}
                                                {{#if (eq toMonth '08')}}
                                                Август
                                                {{else}}
                                                  {{#if (eq toMonth '09')}}
                                                  Сентябрь
                                                  {{else}}
                                                    {{#if (eq toMonth '10')}}
                                                    Октябрь
                                                    {{else}}
                                                      {{#if (eq toMonth '11')}}
                                                      Ноябрь
                                                      {{else}}
                                                        Декабрь
                                                      {{/if}}
                                                    {{/if}}
                                                  {{/if}}
                                                {{/if}}
                                              {{/if}}
                                            {{/if}}
                                          {{/if}}
                                        {{/if}}
                                      {{/if}}
                                    {{/if}}
                                  {{/if}}
                                </option>
                                <option value="01">Январь</option>
                                <option value="02">Февраль</option>
                                <option value="03">Март</option>
                                <option value="04">Апрель</option>
                                <option value="05">Май</option>
                                <option value="06">Июнь</option>
                                <option value="07">Июль</option>
                                <option value="08">Август</option>
                                <option value="09">Сентябрь</option>
                                <option value="10">Октябрь</option>
                                <option value="11">Ноябрь</option>
                                <option value="12">Декабрь</option>
                              </select>
                            </span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="columns is-mobile">
                <div class="column">
                    <label class="label" for="position">
                      {{#if (eq language 'ru')}}
                        Специальность:
                      {{else}}
                        Education:
                      {{/if}}
                    </label>
                    <p class="control has-icon">
                      {{#if (eq language 'ru')}}
                        <input id="position-{{name}}" class="input" type="text" placeholder="Бакалавр экономики" value="{{position}}">
                      {{else}}
                        <input id="position-{{name}}" class="input" type="text" placeholder="Bachelor of Economics" value="{{position}}">
                      {{/if}}
                      <i class="fa fa-bank to-up"></i>
                    </p>
                </div>
                <div class="column">
                    <label class="label" for="position">
                      {{#if (eq language 'ru')}}
                        Факультет:
                      {{else}}
                        Department:
                      {{/if}}
                    </label>
                    <p class="control has-icon">
                      {{#if (eq language 'ru')}}
                        <input id="department-{{name}}" class="input" type="text" placeholder="Комитет счастья" value="{{department}}">
                      {{else}}
                        <input id="department-{{name}}" class="input" type="text" placeholder="Economics" value="{{department}}">
                      {{/if}}
                      <i class="fa fa-bank to-up"></i>
                    </p>
                </div>
            </div>


            <div class="columns is-mobile">
              <div class="column">
                <label class="label" for="position">
                  {{#if (eq language 'ru')}}
                    Сайт:
                  {{else}}
                    Site:
                  {{/if}}                
                </label>
                <p class="control has-icon">
                  <input id="site-{{name}}" class="input" type="text" placeholder="http://acnter.ru" value="{{site}}">
                  <i class="fa fa-link to-up"></i>
                </p>
              </div>
              <div class="column">
                <label class="label" for="position">
                  {{#if (eq language 'ru')}}
                    Город:
                  {{else}}
                    City:
                  {{/if}}
                </label>
                <p id="city-p" class="control has-icon">
                  <p class="control">
                      <input class="input bizzare-form-input" id="city-{{name}}" type="text" placeholder="Введите город" onkeyup={{action "citySearchEdit"}} value="{{value}}">
                  </p>
                  <i class="fa fa-map to-up"></i>
                </p>
              </div>
            </div>
            
            <div class="columns">
              <div class="column">
                <label class="label" for="to">
                  {{#if (eq language 'ru')}}
                    Комментарии:
                  {{else}}
                    Comments:
                  {{/if}}
                </label>
                <p class="control has-icon">
                  {{#if (eq language 'ru')}}
                    <input id="comments-{{name}}" class="input" type="text" placeholder="Текст комментария" value="{{comments}}">
                  {{else}}
                    <input id="comments-{{name}}" class="input" type="text" placeholder="Some text" value="{{comments}}">
                  {{/if}}
                  <i class="fa fa-comments to-up"></i>
                </p>
              </div>
            </div>
          </form>
	    	</section>
		    <footer class="modal-card-foot">
		    	<a class="button is-primary" {{action 'saveEdit'}}>
            {{#if (eq language 'ru')}}
              Сохранить
            {{else}}
              Save
            {{/if}}   
          </a>
			    <a class="button" {{action 'closeEdit'}}>
            {{#if (eq language 'ru')}}
              Отмена
            {{else}}
              Cancel
            {{/if}}
          </a>
		    </footer>
	  </div>
	</div>

	<div class="modal" id="trashModal-{{name}}">
		<div class="modal-background"></div>
			<div class="modal-card is-modal-80">
				<header class="modal-card-head">
					<p class="modal-card-title">
              {{#if (eq language 'ru')}}
                Удалить место учебы в "{{name}}"
              {{else}}
                Remove studies in "{{name}}"
              {{/if}}
          </p>
		      	</header>
		      	<section class="modal-card-body">
		     		<p class="content">
              {{#if (eq language 'ru')}}
		     			  Вы точно хотите удалить место учебы в "{{name}}"?
              {{else}}
                You sure you want to remove in the study "{{name}}"?
              {{/if}}
		     		</p>
		    	</section>
			    <footer class="modal-card-foot">
			    	<a class="button is-primary" {{action 'deleteWork'}}>
              {{#if (eq language 'ru')}}
                Удалить место учебы
              {{else}}
                Remove place of study
              {{/if}}    
            </a>
				    <a class="button" {{action 'closeTrash'}}>
              {{#if (eq language 'ru')}}
                Отмена
              {{else}}
                Cancel
              {{/if}}    
            </a>
			    </footer>
		  </div>
		</div>