{{#if (eq template 'one')}}
	<div class="columns">
		<div class="column">
			<h4 class="title is-4">
				{{#if (eq language 'ru')}}
					ОБРАЗОВАНИЕ
				{{else}}
					EDUCATION
				{{/if}}
			</h4>
		</div>
	</div>
{{else}}
	{{#if (eq template 'two')}}
		<div class="columns">
			<div class="column">
				<h5 class="title is-5">
					{{#if (eq language 'ru')}}
						ОБРАЗОВАНИЕ
					{{else}}
						EDUCATION
					{{/if}}
				</h5>
			</div>
		</div>
	{{else}}
		<div class="columns has-text-centered">
			<div class="column">
				<h3 class="title is-3">
					{{#if (eq language 'ru')}}
						ОБРАЗОВАНИЕ
					{{else}}
						EDUCATION
					{{/if}}
				</h3>
			</div>
		</div>
	{{/if}}
{{/if}}
{{#if (eq template 'three')}}
	<center>
		<span class="icon is-22aac1-text">
			<i class="fa fa-mortar-board"></i>
		</span>
	</center>
{{/if}}
{{#each educationList as |item|}}
	{{education-item
		fromYear = item.fromYear
	    fromMonth = item.fromMonth
	    toYear = item.toYear
	    toMonth = item.toMonth
	   	department = item.department
	    formEdk = item.formEdk
		position = item.position
		name = item.name
		city = item.city
		site = item.site
		comments = item.comments}}
{{/each}}
{{#if (eq currentStep 'step2')}}	
	<div class="columns">
		<div class="column">
			{{button-add-edk}}
		</div>
	</div>
{{/if}}
{{#if (eq template 'one')}}
	<div class="columns">
		<div class="column">
			<h4 class="title is-4">
				{{#if (eq language 'ru')}}
					ДОПОЛНИТЕЛЬНОЕ ОБРАЗОВАНИЕ
				{{else}}
					ADDITIONAL EDUCATION
				{{/if}}
			</h4>
		</div>
	</div>
{{else}}
	{{#if (eq template 'two')}}
		<div class="columns">
			<div class="column">
				<h5 class="title is-5">
					{{#if (eq language 'ru')}}
						ДОПОЛНИТЕЛЬНОЕ ОБРАЗОВАНИЕ
					{{else}}
						ADDITIONAL EDUCATION
					{{/if}}
				</h5>
			</div>
		</div>
	{{else}}
		<div class="columns has-text-centered">
			<div class="column">
				<h3 class="title is-3">
					{{#if (eq language 'ru')}}
						ДОПОЛНИТЕЛЬНОЕ ОБРАЗОВАНИЕ
					{{else}}
						ADDITIONAL EDUCATION
					{{/if}}
				</h3>
			</div>
		</div>
	{{/if}}
{{/if}}
{{#if (eq template 'three')}}
	<center>
		<span class="icon is-22aac1-text">
			<i class="fa fa-mortar-board"></i>
		</span>
	</center>
{{/if}}

{{addition-education-list}}

{{#if (eq currentStep 'step2')}}	
	<div class="columns">
		<div class="column">
			{{button-add-ed-add}}
		</div>
	</div>
{{/if}}