<footer class="footer is-dark-footer">
	<div class="container">
	<div class="content has-text-centered">
	    <p>
	      	<span class="is-white">2016 </span>
	      	<span class="icon is-white">
	      		<i class="fa fa-copyright"></i>
	      	</span>
	      	<span class="is-white">
	      		{{#if (eq language 'ru')}}
		      		Проект кадрового агентства 
		      	{{else}}
		      		Recruitment Project 
		      	{{/if}}
		    </span><br />
		    {{#if (eq language 'ru')}}
		    	<a class="button is-link is-footer-link" href="http://acenter.ru">Аналитик-центр</a>
	      	{{else}}
	      		<a class="button is-link is-footer-link" href="http://acenter.ru">Analyst-center</a>
	      	{{/if}}
	    </p>
	</div>
	</div>
</footer>