<img src="tooltip.png" style="height: 15px" {{action 'openModal'}}/>

{{#if isOpen}}
	<div class="modal is-active">
	  <div class="modal-background"></div>
	  <div class="modal-card">
	    <header class="modal-card-head">
	      <p class="modal-card-title">{{title}}</p>
	    </header>
	    <section class="modal-card-body">
	      {{text}}
	    </section>
	    <footer class="modal-card-foot">
	      <a class="button is-danger is-bizzare-pure-button" {{action 'closeModal'}}>Закрыть подсказку</a>
	    </footer>
	  </div>
	</div>
{{/if}}