<figure class="image is-128x128" {{action "openImage"}}>
  <img src="{{image}}">
</figure>

<div class="modal {{if isOpen 'is-active'}}">
  <div class="modal-background" {{action "closeImage"}}></div>
  <div class="modal-content">
    <p class="image is-4by3">
      <img src="{{image}}">
    </p>
  </div>
  <button class="modal-close" {{action "closeImage"}}></button>
</div>