<div class="columns">
	<div class="column">
		<div class="columns">
			<div class="column">
				<center>
					{{image-modal image="/template-00.png"}}
				</center>
			</div>
		</div>
		<div class="columns">
			<div class="column">
				{{#if (eq templateNumber 'one')}}
					<a class="button is-fullwidth is-bizzare-red-button is-success">
						<span class="icon">
							<i class="fa fa-check"></i>
						</span>
						<span>
							{{#if (eq language 'ru')}}
								Выбран
							{{else}}
								Selected
							{{/if}}
						</span>
					</a>
				{{else}}
					<a class="button is-bizzare-pure-button is-fullwidth" {{action 'chooseOne'}}>
						<span class="icon">
							<i class="fa fa-ban"></i>
						</span>
						<span>
							{{#if (eq language 'ru')}}
								Выбрать
							{{else}}
								Select
							{{/if}}
						</span>
					</a>
				{{/if}}
			</div>
		</div>
	</div>
	<div class="column">
		<div class="columns">
			<div class="column">
				<center>
					{{image-modal image="/template-01.png"}}
				</center>
			</div>
		</div>
		<div class="columns">
			<div class="column">
				{{#if (eq templateNumber 'two')}}
					<a class="button is-fullwidth is-bizzare-red-button is-success">
						<span class="icon">
							<i class="fa fa-check"></i>
						</span>
						<span>
							{{#if (eq language 'ru')}}
								Выбран
							{{else}}
								Selected
							{{/if}}
						</span>
					</a>
				{{else}}
					<a class="button is-bizzare-pure-button is-fullwidth" {{action 'chooseTwo'}}>
						<span class="icon">
							<i class="fa fa-ban"></i>
						</span>
						<span>
							{{#if (eq language 'ru')}}
								Выбрать
							{{else}}
								Select
							{{/if}}
						</span>
					</a>
				{{/if}}
			</div>
		</div>
	</div>
	<div class="column">
		<div class="columns">
			<div class="column">
				<center>
					{{image-modal image="/template-02.png"}}
				</center>
			</div>
		</div>
		<div class="columns">
			<div class="column">
				{{#if (eq templateNumber 'three')}}
					<a class="button is-fullwidth is-bizzare-red-button is-success">
						<span class="icon">
							<i class="fa fa-check"></i>
						</span>
						<span>
							{{#if (eq language 'ru')}}
								Выбран
							{{else}}
								Selected
							{{/if}}
						</span>
					</a>
				{{else}}
					<a class="button is-bizzare-pure-button is-fullwidth" {{action 'chooseThree'}}>
						<span class="icon">
							<i class="fa fa-ban"></i>
						</span>
						<span>
							{{#if (eq language 'ru')}}
								Выбрать
							{{else}}
								Select
							{{/if}}
						</span>
					</a>
				{{/if}}
			</div>
		</div>
	</div>
</div>
