<span class="icon" {{action 'openModal'}}>
	<i class="fa fa-question"></i>
</span>

{{#if isOpen}}
	<div class="modal is-active">
	  <div class="modal-background"></div>
	  <div class="modal-card">
	    <header class="modal-card-head">
	      <p class="modal-card-title">
	      	{{#if (eq language 'ru')}}
	      		{{ruTitle}}
	      	{{else}}
	      		{{engTitle}}
	      	{{/if}}
	      </p>
	      <button class="delete" {{action 'closeModal'}}></button>
	    </header>
	    <section class="modal-card-body">
	    	{{#if (eq language 'ru')}}
	    		{{ruDescription}}
	    	{{else}}
	    		{{engDescription}}
	    	{{/if}}
	    </section>
	  </div>
	</div>
{{/if}}