<a class="button is-success is-large  is-hidden-desktop  language-button-mobile" {{action 'toggleModal'}}>
	<span class="icon">
		<i class="fa fa-language"></i>
	</span>
	<span>
		{{#if (eq language 'ru')}}
			Рус.
		{{else}}
			Eng.
		{{/if}}
	</span>
</a>

<a class="button is-success is-hidden-touch language-button" {{action 'toggleModal'}}>
	<span class="icon">
		<i class="fa fa-language"></i>
	</span>
	<span>
		{{#if (eq language 'ru')}}
			Русский
		{{else}}
			English
		{{/if}}
	</span>
</a>

<div class="modal {{if isOpen 'is-active'}}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Выбор языка</p>
      <button class="delete" {{action 'toggleModal'}}></button>
    </header>
    <section class="modal-card-body">
      <div class="columns has-text-centerd">
      	<div class="column">
      		<a class="button is-large is-fullwidth {{if (eq language 'ru') 'is-info'}}" {{action 'chooseRussian'}}>Русский</a>
      	</div>
      </div>
      <div class="columns">
      	<div class="column">
      		<a class="button is-large is-fullwidth {{if (eq language 'eng') 'is-info'}}" {{action 'chooseEnglish'}}>English</a>
      	</div>
      </div>
    </section>
  </div>
</div>