<div class="is-menu-button-desktop is-dark">
	<nav class="nav has-shadow is-hidden-touch is-dark-navbar">
	  <div class="container">
	    <div class="nav-left-my">
	    	<span class="nav-item">
	    		{{#if (eq currentStep 'step1')}}
			      <a class="button is-bizzare-menu-button is-danger" href="{{href-to 'info'}}">
			        <img src="personal-info-icon.png" />&nbsp;
			        <span>
			        	{{#if (eq language 'ru')}}
			      			Общая информация
			      		{{else}}
			      			Main info
			      		{{/if}}
			        </span>
			      </a>
			    {{else}}
			      <a class="button is-bizzare-menu-button is-info is-without-color" href="{{href-to 'info'}}">
			        <img src="personal-info-icon.png" />&nbsp;
			        <span>
			        	{{#if (eq language 'ru')}}
			      			<span {{action "setStep1"}}>Общая информация</span>
			      		{{else}}
			      			<span {{action "setStep1"}}>Main info</span>
			      		{{/if}}
			        </span>
			      </a>
			    {{/if}}
			    {{#if (eq currentStep 'step2')}}
			      <a class="button is-bizzare-menu-button is-danger" href="{{href-to 'knowledge'}}">
			        <img src="education-icon.png" />&nbsp;
			        <span>
			        	{{#if (eq language 'ru')}}
			      			Знания
			      		{{else}}
			      			Education
			      		{{/if}}
			        </span>
			      </a>
			    {{else}}
			      <a class="button is-bizzare-menu-button is-info is-without-color" href="{{href-to 'knowledge'}}">
			        <img src="education-icon.png" />&nbsp;
			        <span>
			        	{{#if (eq language 'ru')}}
			      			<span {{action "setStep2"}}>Знания</span>
			      		{{else}}
			      			<span {{action "setStep2"}}>Education</span>
			      		{{/if}}
			        </span>
			      </a>
			    {{/if}}
			    {{#if (eq currentStep 'step3')}}
			      <a class="button is-bizzare-menu-button is-danger" href="{{href-to 'experience'}}">
			        <img src="experience-icon.png" />&nbsp;
			        <span>
			        	{{#if (eq language 'ru')}}
	      					Опыт работы
			      		{{else}}
	    		  			Experience
			      		{{/if}}
			        </span>
			      </a>
			    {{else}}
			      <a class="button is-bizzare-menu-button is-info is-without-color" href="{{href-to 'experience'}}">
			        <img src="experience-icon.png" />&nbsp;
			        <span>
			        	{{#if (eq language 'ru')}}
			      			<span {{action "setStep3"}}>Опыт работы</span>
			      		{{else}}
			      			<span {{action "setStep3"}}>Experience</span>
			      		{{/if}}
			        </span>
			      </a>
			    {{/if}}
			    {{#if (eq currentStep 'step4')}}
			      <a class="button is-bizzare-menu-button is-danger" href="{{href-to 'additionals'}}">
			        <img src="additional-icon.png" />&nbsp;
			        <span>
			        	{{#if (eq language 'ru')}}
			      			Дополнительно
			      		{{else}}
			      			Other
			      		{{/if}}
			        </span>
			      </a>
			    {{else}}
			      <a class="button is-bizzare-menu-button is-info is-without-color" href="{{href-to 'additionals'}}">
			        <img src="additional-icon.png" />&nbsp;
			        <span>
			        	{{#if (eq language 'ru')}}
			      			<span {{action "setStep4"}}>Дополнительно</span>
			      		{{else}}
			      			<span {{action "setStep4"}}>Other</span>
			      		{{/if}}
			        </span>
			      </a>
			    {{/if}}
			    {{#if (eq currentStep 'finish')}}
			      <a class="button is-bizzare-menu-button is-danger" href="{{href-to 'finish'}}">
			        <span class="icon">
			          <i class="fa fa-print"></i>
			        </span>
			        <span>
			        	{{#if (eq language 'ru')}}
			      			Готово
			      		{{else}}
			      			Done
			      		{{/if}}
			        </span>
			      </a>
			    {{else}}
			      <a class="button is-bizzare-menu-button is-info is-without-color" href="{{href-to 'finish'}}">
			        <span class="icon">
			          <i class="fa fa-print"></i>
			        </span>
			        <span>
			        	{{#if (eq language 'ru')}}
			      			<span {{action "setFinish"}}>Готово</span>
			      		{{else}}
			      			<span {{action "setFinish"}}>Done</span>
			      		{{/if}}
			        </span>
			      </a>
			    {{/if}}
			</span>
	    </div>


	    {{#if (eq currentStep 'step1')}}
		    <div class="nav-center is-hidden-desktop">
			    <a class="nav-item">
			      {{info-button
			      	ruTitle = "Тестовое описание"
			      	engTitle = "Test description"
			      	ruDescription = "Текст"
			      	engDescription = "Test"}}
			    </a>
			</div>
		{{/if}}

		{{#if (eq currentStep 'step2')}}
		    <div class="nav-center is-hidden-desktop">
			    <a class="nav-item">
			      {{info-button
			      	ruTitle = "Тестовое описание"
			      	engTitle = "Test description"
			      	ruDescription = "Текст"
			      	engDescription = "Test"}}
			    </a>
			</div>
		{{/if}}

		{{#if (eq currentStep 'step3')}}
		    <div class="nav-center is-hidden-desktop">
			    <a class="nav-item">
			      {{info-button
			      	ruTitle = "Тестовое описание"
			      	engTitle = "Test description"
			      	ruDescription = "Текст"
			      	engDescription = "Test"}}
			    </a>
			</div>
		{{/if}}

		{{#if (eq currentStep 'step4')}}
		    <div class="nav-center is-hidden-desktop">
			    <a class="nav-item">
			      {{info-button
			      	ruTitle = "Тестовое описание"
			      	engTitle = "Test description"
			      	ruDescription = "Текст"
			      	engDescription = "Test"}}
			    </a>
			</div>
		{{/if}}
	    
	    <div class="nav-right nav-menu">
	    	{{#if (eq language 'ru')}}
		      	<a class="nav-item is-tab is-active is-red-text">RU</a>
		      	<a class="nav-item is-tab" {{action 'setEnglish'}}>ENG</a>
		    {{else}}
		    	<a class="nav-item is-tab" {{action 'setRussian'}}>RU</a>
		    	<a class="nav-item is-tab is-active is-red-text">ENG</a>
		    {{/if}}
	    </div>
	  </div>
	</nav>
	{{#if isOpen}}
		<ul>
			<li>
				{{#if (eq currentStep 'step1')}}
					<a class="button is-dark is-hidden-touch is-active">
						<span class="icon">
							<i class="fa fa-user"></i>
						</span>
						<span>Общая ин-ция</span>
					</a>
				{{else}}
					<a class="button is-dark is-hidden-touch is-active">
						<span class="icon">
							<i class="fa fa-user"></i>
						</span>
						<span>Общая ин-ция</span>
					</a>
				{{/if}}
			</li>
			<li>
				{{#if (eq currentStep 'step2')}}
					<a class="button is-dark is-hidden-touch is-active">
						<span class="icon">
							<i class="fa fa-file"></i>
						</span>
						<span>Образование</span>
					</a>
				{{else}}
					<a class="button is-dark is-hidden-touch">
						<span class="icon">
							<i class="fa fa-file"></i>
						</span>
						<span>Образование</span>
					</a>
				{{/if}}
			</li>
			<li>
				{{#if (eq currentStep 'step3')}}
					<a class="button is-dark is-hidden-touch is-active">
						<span class="icon">
							<i class="fa fa-building"></i>
						</span>
						<span>Опыт работы</span>
					</a>
				{{else}}
					<a class="button is-dark is-hidden-touch">
						<span class="icon">
							<i class="fa fa-building"></i>
						</span>
						<span>Опыт работы</span>
					</a>
				{{/if}}
			</li>
			<li>
				{{#if (eq currentStep 'step4')}}
					<a class="button is-dark is-hidden-touch is-active">
						<span class="icon">
							<i class="fa fa-info"></i>
						</span>
						<span>Дополнительно</span>
					</a>
				{{else}}
					<a class="button is-dark is-hidden-touch">
						<span class="icon">
							<i class="fa fa-info"></i>
						</span>
						<span>Дополнительно</span>
					</a>
				{{/if}}
			</li>
		</ul>

		<div class="modal is-hidden-desktop is-active">
			<div class="modal-background"></div>
			  	<div class="modal-card">
		    	<header class="modal-card-head">
		      		<p class="modal-card-title">Раздел резюме</p>
		      		<button class="delete" {{action 'toggleMenu'}}></button>
		    	</header>
		    	<section class="modal-card-body">
			      	<div class="columns has-text-centerd">
				      	<div class="column">
				      		{{#if (eq currentStep 'step1')}}
				      			<a class="button is-large is-active is-fullwidth" href="{{href-to 'info'}}">
					      			<span class="icon">
					      				<i class="fa fa-user"></i>
					      			</span>
					      			<span {{action 'setStep1'}}>Общая инф-ия</span>
					      		</a>
				      		{{else}}
					      		<a class="button is-large is-fullwidth" href="{{href-to 'info'}}">
					      			<span class="icon">
					      				<i class="fa fa-user"></i>
					      			</span>
					      			<span {{action 'setStep1'}}>Общая инф-ия</span>
					      		</a>
					      	{{/if}}
				      	</div>
				     </div>
				     <div class="columns has-text-centerd">
				      	<div class="column">
				      		{{#if (eq currentStep 'step2')}}
				      			<a class="button is-large is-fullwidth is-active" href="{{href-to 'knowledge'}}">
					      			<span class="icon">
										<i class="fa fa-file"></i>
									</span>
									<span {{action 'setStep2'}}>Образование</span>
					      		</a>
				      		{{else}}
					      		<a class="button is-large is-fullwidth" href="{{href-to 'knowledge'}}">
					      			<span class="icon">
										<i class="fa fa-file"></i>
									</span>
									<span {{action 'setStep2'}}>Образование</span>
					      		</a>
					      	{{/if}}
				      	</div>
				     </div>
				     <div class="columns has-text-centerd">
				      	<div class="column">
					      	{{#if (eq currentStep 'step3')}}
					      		<a class="button is-large is-fullwidth is-active" href="{{href-to 'experience'}}">
					      			<span class="icon">
										<i class="fa fa-building"></i>
									</span>
									<span {{action 'setStep3'}}>Опыт работы</span>
					      		</a>
					      	{{else}}
					      		<a class="button is-large is-fullwidth" href="{{href-to 'experience'}}">
					      			<span class="icon">
										<i class="fa fa-building"></i>
									</span>
									<span {{action 'setStep3'}}>Опыт работы</span>
					      		</a>
					      	{{/if}}
				      	</div>
				     </div>
				     <div class="columns has-text-centerd">
				      	<div class="column">
				      		{{#if (eq currentStep 'step4')}}
					      		<a class="button is-large is-fullwidth is-active" href="{{href-to 'additionals'}}">
					      			<span class="icon">
										<i class="fa fa-info"></i>
									</span>
									<span {{action 'setStep4'}}>Дополнительно</span>
					      		</a>
					      	{{else}}
					      		<a class="button is-large is-fullwidth" href="{{href-to 'additionals'}}">
					      			<span class="icon">
										<i class="fa fa-info"></i>
									</span>
									<span {{action 'setStep4'}}>Дополнительно</span>
					      		</a>
					      	{{/if}}
				      	</div>
				     </div>
				     <div class="columns has-text-centerd">
				      	<div class="column">
				      		{{#if (eq currentStep 'finish')}}
					      		<a class="button is-large is-fullwidth is-active" href="{{href-to 'finish'}}">
					      			<span class="icon">
										<i class="fa fa-info"></i>
									</span>
									<span {{action 'setFinish'}}>Готово</span>
					      		</a>
					      	{{else}}
					      		<a class="button is-large is-fullwidth" href="{{href-to 'finish'}}">
					      			<span class="icon">
										<i class="fa fa-info"></i>
									</span>
									<span {{action 'setFinish'}}>Готово</span>
					      		</a>
					      	{{/if}}
				      	</div>
				     </div>
		    	</section>
			</div>
		</div>
	{{/if}}
</div>

{{#if (eq isOpen false)}}
	<a id="razdeli-button" class="button is-dark is-large is-hidden-desktop is-menu-button" {{action 'toggleMenu'}}>
		<span class="icon">
			<i class="fa fa-bars"></i>
		</span>
		<span>РАЗДЕЛЫ</span>
	</a>
{{/if}}