{{#if (eq template 'three')}}
	<div class="columns has-text-centered">
		<div class="column">
			<h3 class="title is-3">
				{{#if (eq language 'ru')}}
					ДОПОЛНИТЕЛЬНАЯ ИНФОРМАЦИЯ
				{{else}}
					OTHER
				{{/if}}
			</h3>
		</div>
	</div>
	<div class="columns is-mobile">
		<div class="column">
			<span class="icon">
				<i class="fa fa-globe"></i>
			</span>
			<span>
				<strong>
					{{#if (eq language 'ru')}}
						Владею языками:
					{{else}}
						Spoken languages:
					{{/if}}
				</strong>{{languagesString}}
			</span>
		</div>
	</div>
	<div class="columns">
		<div class="column">
			<span class="icon">
				<i class="fa fa-car"></i>
			</span>
			<span>
				<strong>
					{{#if (eq language 'ru')}}
						Водительские права:
					{{else}}
						Driver's license:
					{{/if}}
				</strong> {{otherInfo.driverLicense}}
			</span>
		</div>
	</div>
	<div class="columns">
		<div class="column">
			<span class="icon">
				<i class="fa fa-laptop"></i>
			</span>
			<span>
				<strong>
					{{#if (eq language 'ru')}}
						Навыки работы на компьютере:
					{{else}}
						Computer skills:
					{{/if}}
				</strong> {{otherInfo.computer}}
			</span>
		</div>
	</div>
	<div class="columns">
		<div class="column">
			<span class="icon">
				<i class="fa fa-user"></i>
			</span>
			<span>
				<strong>
					{{#if (eq language 'ru')}}
						Персональные качества:
					{{else}}
						Personal qualities:
					{{/if}}
				</strong> {{otherInfo.personalQualities}}
			</span>
		</div>
	</div>
	<div class="columns">
		<div class="column">
			<span class="icon">
				<i class="fa fa-info"></i>
			</span>
			<span>
				<strong>
					{{#if (eq language 'ru')}}
						Дополнительная информация:
					{{else}}
						Additional Information:
					{{/if}}
				</strong> {{otherInfo.additionalInfo}}
			</span>
		</div>
	</div>
	<div class="columns">
		<div class="column">
			<span class="icon">
				<i class="fa fa-info"></i>
			</span>
			<span>
				<strong>
					{{#if (eq language 'ru')}}
						Причина поиска новой работы:
					{{else}}
						Причина поиска новой работы:
					{{/if}}
				</strong> {{otherInfo.prichina}}
			</span>
		</div>
	</div>
	<div class="columns">
		<div class="column">
			<span class="icon">
				<i class="fa fa-info"></i>
			</span>
			<span>
				<strong>
					{{#if (eq language 'ru')}}
						Профессиональные навыки:
					{{else}}
						Professionals skills:
					{{/if}}
				</strong> {{otherInfo.profskils}}
			</span>
		</div>
	</div>
{{else}}
	{{#if (eq template 'one')}}
		<div class="columns">
			<div class="column">
				<h3 class="title is-3">
					{{#if (eq language 'ru')}}
						ДОПОЛНИТЕЛЬНАЯ ИНФОРМАЦИЯ
					{{else}}
						OTHER
					{{/if}}
				</h3>
			</div>
		</div>
		<div class="columns">
			<div class="column">
				{{#if (eq language 'ru')}}
					Языки: {{languagesString}}<br />
					Водительские права - {{otherInfo.driverLicense}}<br />
					Навыки работы на компьютере - {{otherInfo.computer}}<br />
					Персональные качества - {{otherInfo.personalQualities}}<br />
					Дополнительная информация - {{otherInfo.additionalInfo}}<br />
					Причина поиска новой работы - {{otherInfo.prichina}}<br />
					Профессиональные навыки - {{otherInfo.profskils}}
				{{else}}
					Languages: {{languagesString}}<br />
					Driver lisnce  - {{otherInfo.driverLicense}}<br />
					Computer skills - {{otherInfo.computer}}<br />
					Personal quality - {{otherInfo.personalQualities}}<br />
					Additional information - {{otherInfo.additionalInfo}}<br />
					Причина поиска новой работы - {{otherInfo.prichina}}<br />
					Professsionals skills - {{otherInfo.profskils}}
				{{/if}}
			</div>
		</div>
	{{else}}
		<div class="columns">
			<div class="column">
				{{#if (eq language 'ru')}}
					<strong>Языки:</strong> {{languagesString}}<br />
					<strong>Водительские права:</strong> {{otherInfo.driverLicense}}<br />
					<strong>Навыки работы на компьютере: </strong> {{otherInfo.computer}}<br />
					<strong>Персональные качества</strong>: {{otherInfo.personalQualities}}<br />
					<strong>Дополнительная информация</strong>: {{otherInfo.additionalInfo}}<br />
					<strong>Причина поиска новой работы</strong>: {{otherInfo.prichina}}<br />
					<strong>Профессиональные навыки</strong>: {{otherInfo.profskils}}
				{{else}}
					<strong>Languages</strong>: {{languagesString}}<br />
					<strong>Driver lisnce</strong>: {{otherInfo.driverLicense}}<br />
					<strong>Computer skills: </strong> {{otherInfo.computer}}<br />
					<strong>Personal quality:</strong> {{otherInfo.personalQualities}}<br />
					<strong>Additional information:</strong> {{otherInfo.additionalInfo}}<br />
					<strong>Причина поиска новой работы</strong>: {{otherInfo.prichina}}<br />
					<strong>Proffesionals skills</strong>: {{otherInfo.profskils}}
				{{/if}}
			</div>
		</div>
	{{/if}}
{{/if}}
{{#if (eq template 'two')}}
	{{#if (eq step 'step4')}}
		<div class="columns">
			<div class="column">
				{{button-add-other}}
			</div>
		</div>
	{{/if}}
{{else}}
	<div class="columns">
		<div class="column">
			{{button-add-other}}
		</div>
	</div>
{{/if}}
