<div class="columns is-mobile">
	<div class="column has-text-right">
		<span>2010 - настоящее время</span>
	</div>
	<div class="column has-text-left">
		<span>Подниматель пингвинов</span>
	</div>
</div>
<div class="columns is-mobile">
	<div class="column has-text-right">
		<strong>ООО "Урал-Сервис" </strong> (оптовая торговля строительными материалами),
		<strong>Екатеринбург</strong>, <a href="">example.ru</a>
	</div>
	<div class="column has-text-left">
		Обязанности
		<ul>
			<li>Подниматель пингвинов</li>
		</ul>
	</div>
</div>
