<div class="hero-body">
	<div class="container {{text-align}}">
		{{#if (eq state 'simple')}}
			<h1 class="title">
		    	{{ title }}
		    </h1>
		    <h2 class="subtitle">
		        {{ subtitle }}
		    </h2>
		{{else}}
			{{#if (eq state 'hero-main')}}
				<br />
				<span class="subtitle is-lato-regular-32">
			        {{#if (eq language 'ru')}}
			        	Проект аналитик центра
			        {{else}}
			        	Analyst Center Project
			        {{/if}}
			    </span><br />
			    <img src='{{srcImage}}' /><br />
			    <span class="is-lato-heavy-44">
		    		{{#if (eq language 'ru')}}
		    			4 ШАГА <br />К БЕЗУПРЕЧНОМУ РЕЗЮМЕ
		    		{{else}}
		    			4 STEPS <br />TO FLAWLESS SUMMARY
		    		{{/if}}
			    </span><br />	
			    <span>
			    	{{#if (eq language 'ru')}}
		    			<span class="is-lato-light">БЫСТРО</span>
		    		{{else}}
		    			<span class="is-lato-light">FAST</span>
		    		{{/if}}
			    </span>
			    <span>
			    	{{#if (eq language 'ru')}}
		    			<span class="is-lato-light">Бесплатно</span>
		    		{{else}}
		    			<span class="is-lato-light">IS FREE</span>
		    		{{/if}}
			    </span>
			    <span>
			    	{{#if (eq language 'ru')}}
		    			<span class="is-lato-light">ЭФФЕКТИВНО</span>
		    		{{else}}
		    			<span class="is-lato-light">EFFECTIVELY</span>
		    		{{/if}}
			    </span>
			    <br />
			    <center>
			    <figure class="image is-32x32">
					<img src="mouse-scroll.png">
				</figure>
				</center>
			{{else}}
				{{#if (eq state 'two-column-action')}}
					<h1 class="title">
				    	{{#if (eq language 'ru')}}
				    		<span class="is-lato-bold-36">
				    			ХОТИТЕ СОСТАВИТЬ РЕЗЮМЕ ПРАВИЛЬНО?
				    		</span> 
				    	{{else}}
				    		<span class="is-lato-bold-36">
					    		WANT TO MAKE A SUMMARY OF THE RIGHT?
					    	</span>
				    	{{/if}}
				    </h1>
					<div class="columns">
						<div class="column is-half has-text-right">
							<figure class="image is-pulled-right">
								<img src="promo-block-2-bg.png">
							</figure>
						</div>
						<div class="column has-text-left is-padding-50">
							<span class="segoeuil-28">
								Начните прямо сейчас
								<br />
								вместе с онлайн генератором
							</span>
							<br />
						    <br />
							<h2 class="subtitle">
						        <strong>
						        	{{#if (eq language 'ru')}}
						        		<span class="segoeuib-28">
						        			Это беслатно и очень просто
						        		</span>
						        	{{else}}
							        	<span class="segoeuib-28">
							        		It's free and easy
							        	</span>
						        	{{/if}}
						        </strong>
						    </h2>
						    <a class="button is-danger is-bizzare-red-button is-fullwidth" href="{{href-to 'info'}}">
						    	{{#if (eq language 'ru')}}
						    		СОЗДАТЬ РЕЗЮМЕ
						    	{{else}}
						    		CREATE CV
						    	{{/if}}
						    </a>
						</div>
					</div>
				{{else}}
					{{#if (eq state 'two-row')}}
						<div class="columns is-mobile">
							<div class="column has-text-right is-one-quarter">
								<figure class="image is-64x64 is-pulled-right">
								  <img src="edit-romb.png">
								</figure>
							</div>
							<div class="column segoeuil">
								{{#if (eq language 'ru')}}
									<strong>Наш генератор оформит резюме</strong>, сделает его презентабельным и удобным для восприятия, структурирует информация о вас, выровняет текст, выделит главное.<br />
									Вам <strong>нужно лишь внести данные</strong>, пользуясь нашими подсказками.
								{{else}}
									<strong> Our generator will issue a summary </strong>, make it presentable and easy to understand, structure the information about you, align text, highlight important. <br />
									You <strong> only need to enter data </strong>, using our tips.
								{{/if}}
							</div>
							<div class="column has-text-left is-one-quarter">
								<figure class="image is-64x64">
								  <img src="info-romb.png">
								</figure>
							</div>
						</div>
						<div class="columns is-mobile">
							<div class="column has-text-right is-one-quarter">
								<figure class="image is-64x64 is-pulled-right">
								  <img src="list-romb.png">
								</figure>
							</div>
							<div class="column segoeuil">
								{{#if (eq language 'ru')}}
									Пройдите <strong>4 коротких шага</strong>, каждый отвечает за 1 область вашего профиля. С какого шага заполнять - решать вам. В любой момент можно увидеть как меняется резюме.
									<br />
									Доступны версии <strong>резюме на английском и русском языках.</strong>
								{{else}}
									Follow <strong> 4 short steps </ strong>, each responsible for one area of your profile. With a step to fill - you decide. At any moment, you can see how the resume.
									<br />
									Versions <strong> Resume in English and Russian languages. </strong>
								{{/if}}
							</div>
							<div class="column has-text-left is-one-quarter">
								<figure class="image is-64x64">
								  <img src="lang-romb.png">
								</figure>
							</div>
						</div>
					{{else}}
						{{#if (eq state 'social')}}
							<span class="is-lato-bold-32">
						    	{{#if (eq language 'ru')}}
						    		ПОДЕЛИСЬ УДОБНЫМ СЕРВИСОМ С ДРУЗЬЯМИ
						    	{{else}}
						    		SHARE THIS CONVENIENT SERVICE With FRIENDS
						    	{{/if}}
						    </span><br />
						    <a href="{{linkVK}}">
						    	<img src="share-fb.png" />
						    </a>
						    <a href="{{linkTwitter}}">
						    	<img src="share-tw.png" />
						    </a>
						    <a href="{{linkFB}}">
						    	<img src="share-vk.png" />
						    </a>
						    <a href="{{linkIn}}">
						    	<img src="share-in.png" />
						    </a>
						    <a href="{{linkGP}}">
						    	<img src="share-gp.png" />
						    </a>
						{{else}}
							<span class="segoeuil-22">
								{{#if (eq language 'ru')}}
									ВЫБЕРИТЕ ПОДХОДЯЩИЙ ШАБЛОН
								{{else}}
									SELECT THE APPROPRIATE TEMPLATE
								{{/if}}
							</span><br />
							<span class="segoeuil-25">
								{{#if (eq language 'ru')}}
									Текст текст текст
								{{else}}
									Text text text
								{{/if}}
							</span>
							<div class="columns">
								<div class="column is-half is-offset-one-quarter">
									{{image-gallery}}
								</div>
							</div>
							<div class="columns">
								<div class="column">
									<a class="button is-info is-bizzare-next-button is-fullwidth" href="{{href-to 'info'}}">
										Заполнить резюме&nbsp;&nbsp;<img src="next-step-arrow.png" />
									</a>
								</div>
							</div>
							<span class="segoeuil-25">
								{{#if (eq language 'ru')}}
									Текст текст текст
								{{else}}
									Text text text
								{{/if}}
							</span>
						{{/if}}
					{{/if}}
				{{/if}}
			{{/if}}
		{{/if}}
	</div>
</div>