<div class="columns">
	<div class="column">
		<a class="button is-fullwidth is-bizzare-next-button is-info" {{action "print"}}>
			{{#if (eq language 'ru')}}
				<span class="icon">
					<i class="fa fa-print"></i> 
				</span>
				<span>Печать</span>
			{{else}}
				<span class="icon">
					<i class="fa fa-print"></i> 
				</span>
				<span>Print</span>
			{{/if}}
		</a>
	</div>
	<div class="column">
		<a class="button is-fullwidth is-bizzare-next-button is-info" {{action "savePdf"}}>
			{{#if (eq language 'ru')}}
				<span class="icon">
					<i class="fa fa-file-pdf-o"></i> 
				</span>
				<span>pdf</span>
			{{else}}
				<span class="icon">
					<i class="fa fa-file-pdf-o"></i> 
				</span>
				<span>pdf</span>
			{{/if}}
		</a>
	</div>
	<div class="column">
		<a class="button is-fullwidth is-bizzare-next-button is-info" {{action "saveDoc"}}>
			{{#if (eq language 'ru')}}
				<span class="icon">
					<i class="fa fa-file-text-o"></i> 
				</span>
				<span>DOC</span>
			{{else}}
				<span class="icon">
					<i class="fa fa-file-text-o"></i> 
				</span>
				<span>DOC</span>
			{{/if}}
		</a>
	</div>
	<div class="column">
		<a class="button is-fullwidth is-bizzare-next-button is-info" {{action "emeilSend"}}>
			{{#if (eq language 'ru')}}
				<span class="icon">
					<i class="fa fa-envelope"></i> 
				</span>
				<span>EMAIL</span>
			{{else}}
				<span class="icon">
					<i class="fa fa-envelope"></i> 
				</span>
				<span>EMAIL</span>
			{{/if}}
		</a>
	</div>
</div>

{{#if isOpen}}
	<div class="modal is-active">
	  <div class="modal-background"></div>
	  <div class="modal-card">
	    <header class="modal-card-head">
	      <p class="modal-card-title">Поделиться с друзьями</p>
	    </header>
	    <section class="modal-card-body is-without-color has-text-centered">
		      <a href="{{linkVK}}">
		      	<img src="share-fb.png" />
		      </a>
		      <a href="{{linkTwitter}}">
		      	<img src="share-tw.png" />
		      </a>
		      <a href="{{linkFB}}">
		      	<img src="share-vk.png" />
		      </a>
		      <a href="{{linkIn}}">
		      	<img src="share-in.png" />
		      </a>
		      <a href="{{linkGP}}">
		      	<img src="share-gp.png" />
		      </a>
	    </section>
	    <footer class="modal-card-foot">
	      <a class="button is-success is-bizzare-pure-button" {{action 'closeModal'}}>Не делиться</a>
	    </footer>
	  </div>
	</div>
{{/if}}