{{#if iSeeAPanel}}
<div id="sidebar" class="has-text-centered">
	<div class="is-bars-button">
		<a class="is-sidebar-bars" href="/">
			<span class="icon is-white">
				<i class="fa fa-bars"></i>
			</span>
		</a>
	</div>
</div>
<div class="is-bars-button-hover">
	<a class="is-bars-button-hover-link">
		<div class="columns">
			<div class="column is-2">
				<center>
					<span class="icon is-circle-link">
						<i class="fa fa-google-plus"></i>
					</span>
				</center>
			</div>
			<div class="column is-padding-15">Общая информация</div>
		</div>
	</a>
</div>
<div id="sidebar-zero" class="has-text-left"></div>
{{else}}
<div id="sidebar" class="has-text-centered">
	<div class="is-bars-button">
		<a class="is-sidebar-bars" href="/">
			<span class="icon is-white">
				<i class="fa fa-bars"></i>
			</span>
		</a>
	</div>

	<div class="is-bars-button" id="sidebar-circle">
		<div class="sidebar-circle has-text-centered" id="infoIcon">
			<a class="is-bars-button-hover-link">
				<div class="columns">
					<div class="column">
						<center>
							<span class="icon is-circle-link">
								<i class="fa fa-google-plus"></i>
							</span>
						</center>
					</div>
				</div>
			</a>
		</div>
	</div>
	<div class="language-switcher has-text-centered">
		<div class="ru-language is-active-language">
			<a class="language-link is-white">RU</a>
		</div>
		<div id="eng-language">
			<a class="language-link is-white">ENG</a>
		</div>
	</div>
</div>
{{/if}}

<!--is-hidden-touch <div id="sidebar-mibile" class="is-hidden-desktop columns">
	<div class="column has-text-centered">
		Mobile menu
	</div>
</div> -->