{{#if (eq template 'three')}}
	<div class="columns has-text-centered">
		<div class="column">
			<h3 class="title is-3">
				{{#if (eq language 'ru')}}
					ОПЫТ РАБОТЫ
				{{else}}
					EXPERIENCE 
				{{/if}}
			</h3>
		</div>
	</div>
{{else}}
	{{#if (eq template 'one')}}
		<div class="columns">
			<div class="column">
				<h3 class="title is-3">
					{{#if (eq language 'ru')}}
						ОПЫТ РАБОТЫ
					{{else}}
						EXPERIENCE 
					{{/if}}
				</h3>
			</div>
		</div>
	{{else}}
		<div class="columns">
			<div class="column">
				<h5 class="title is-5">
					{{#if (eq language 'ru')}}
						ОПЫТ РАБОТЫ
					{{else}}
						EXPERIENCE 
					{{/if}}
				</h5>
			</div>
		</div>
	{{/if}}
{{/if}}
{{#if (eq template 'three')}}
	<center>
		<span class="icon is-22aac1-text">
			<i class="fa fa-building"></i>
		</span>
	</center>
{{/if}}
{{#each workList as |item|}}
	{{work-item
		fromYear = item.fromYear
		fromMonth = item.fromMonth
		toMonth = item.toMonth
		toYear = item.toYear
		position = item.position
		pride = item.pride
		name = item.name
		sphere = item.sphere
		city = item.city
		site = item.site
		jobs = item.jobs
		achivki = item.achivki}}
{{/each}}
{{#if (eq currentStep 'step3')}}
	<div class="columns">
		<div class="column">
			{{button-add-wrk}}
		</div>
	</div>
{{/if}}