{{#if (eq template 'three')}}
	<div class="columns">
		<div class="column has-text-right left-three">
			<span class="is-22aac1-text-bold">{{fromMonth}}.{{fromYear}} - 
				{{#if (eq toMonth 'current')}}
					настоящее время
				{{else}}
					{{#if (eq toYear 'current')}}
						настоящее время
					{{else}}
						{{toMonth}}.{{toYear}}
					{{/if}}
				{{/if}}
				</span><br />
			<strong>{{name}}</strong>, {{sphere}}<br /> 
			<strong>{{city}}</strong>, <a class="is-22aac1-text-link" href="http://{{site}}" target="_blank">{{site}}</a><br />
			<strong>Количество человек в подчинени: </strong>{{pride}}
		</div>
		<div class="column has-text-left">
			<div class="columns is-mobile">
				<div class="column">
					<div class="columns">
						<div class="column">
							<span class="is-22aac1-text-bold">{{position}}</span><br />
							{{#if (eq language 'ru')}}
								Обязанности
							{{else}}
								Duties
							{{/if}}
							<ul>
								{{#each jobs as |item|}}
									<li>
										<span class="icon is-22aac1-text">
											<i class="fa fa-plus"></i>
										</span>
										<span>{{item}}</span>
									</li>
								{{/each}}
							</ul>
						</div>
					</div>
					<div class="columns">
						<div class="column">
							{{#if (eq language 'ru')}}
								Достижения
							{{else}}
								Achievements
							{{/if}}
							<ul>
								{{#each achivki as |item|}}
									<li>
										<span class="icon is-22aac1-text">
											<i class="fa fa-plus"></i>
										</span>
										<span>{{item}}</span>
									</li>
								{{/each}}
							</ul>
						</div>
					</div>
				</div>
				<div class="column has-text-right is-one-quarter">
					<a class="button is-link" {{action 'openEdit'}}>
						<span class="icon">
							<i class="fa fa-pencil"></i>
						</span>
					</a><br />
					<a class="button is-link none-decoration" {{action 'openTrash'}}>
						<span class="icon">
							<i class="fa fa-trash"></i>
						</span>
					</a>
				</div>
			</div>
		</div>
	</div>
{{else}}
	{{#if (eq template 'one')}}
		<div class="columns">
			<div class="column is-4">
				<h5 class="title is-5">{{position}}</h5>
				{{fromMonth}}.{{fromYear}} - 
				{{#if (eq toMonth 'current')}}
					настоящее время
				{{else}}
					{{#if (eq toYear 'current')}}
						настоящее время
					{{else}}
						{{toMonth}}.{{toYear}}
					{{/if}}
				{{/if}}
			</div>
			<div class="column is-8">
				<div class="columns is-mobile">
					<div class="column">
						<h5 class="title is-5">{{name}}, {{city}}, {{sphere}} (<a href="{{site}}">{{site}}</a>)</h5>
						<span>Количество человек в подчинении: {{pride}}</span><br />
						<strong>Обязанности</strong>
						<ul>
							{{#each jobs as |item|}}
								<li>
									<span class="icon">
										<i class="fa fa-minus"></i>
									</span>
									<span>{{item}}</span>
								</li>
							{{/each}}
						</ul>
						<strong>Достижения</strong>
						<ul>
							{{#each achivki as |item|}}
								<li>
									<span class="icon">
										<i class="fa fa-minus"></i>
									</span>
									<span>{{item}}</span>
								</li>
							{{/each}}
						</ul>
					</div>
					<div class="column has-text-right is-one-quarter">
						<a class="button is-link" {{action 'openEdit'}}>
							<span class="icon">
								<i class="fa fa-pencil"></i>
							</span>
						</a><br />
						<a class="button is-link none-decoration" {{action 'openTrash'}}>
							<span class="icon">
								<i class="fa fa-trash"></i>
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	{{else}}
		<div class="columns">
			<div class="column">
				<strong>{{fromMonth}}.{{fromYear}}-
					{{#if (eq toMonth 'current')}}
						настоящее время
					{{else}}
						{{#if (eq toYear 'current')}}
							настоящее время
						{{else}}
							{{toMonth}}.{{toYear}}
						{{/if}}
					{{/if}}
				</strong>
			</div>
			<div class="column">
				<strong class="is-danger-text">{{position}}</strong>
			</div>
		</div>
		<div class="columns">
			<div class="column">
				<small>
					{{name}} ({{sphere}}), {{city}}, <a href="{{site}}">{{site}}</a>. <br />
					<span>Количество человек в подчинении: {{pride}}</span>.<br />
					<em>Обязанности:</em> {{#each jobs as |item|}} {{item}}, {{/each}}<br />
					<em>Достижения:</em> {{#each achivki as |item|}} {{item}}, {{/each}}
				</small>
			</div>
		</div>
		{{#if (eq step 'step3')}}
			<div class="columns">
				<div class="column has-text-right">
				<a class="button is-link is-fullwidth" {{action 'openEdit'}}>
					<span class="icon">
					<i class="fa fa-pencil"></i>
					</span>
				</a>
				</div>
				<div class="column has-text-right">
					<a class="button is-link none-decoration is-fullwidth" {{action 'openTrash'}}>
						<span class="icon">
						<i class="fa fa-trash"></i>
						</span>
					</a>
				</div>
			</div>
		{{/if}}
	{{/if}}
{{/if}}
	<div class="modal" id="editModal-{{name}}">
		<div class="modal-background"></div>
		<div class="modal-card is-modal-80">
			<header class="modal-card-head">
				<p class="modal-card-title">
					{{#if (eq language 'ru')}}
						Редактировать место работы
					{{else}}
						Edit job
					{{/if}}
				</p>
	      	</header>
	      	<section class="modal-card-body">
          <form id="editWork" name='editWork'>

            <div class="columns">
              <div class="column">
                <label class="label" for="position">
                	{{#if (eq language 'ru')}}
										Наименование организации
									{{else}}
										Name of company
									{{/if}}
                </label>
                <p class="control has-icon">
                	{{#if (eq language 'ru')}}
										<input id="name-{{name}}" class="input bizzare-form-input" type="text" placeholder="ООО 'Рога и копыта'" value="{{name}}">
									{{else}}
										<input id="name-{{name}}" class="input bizzare-form-input" type="text" placeholder="Barnyard, Ltd." value="{{name}}">
									{{/if}}
	                <i class="fa fa-building to-up"></i>
                </p>
              </div>
							<div class="column">
								<label class="label">
									{{#if (eq language 'ru')}}
										Сфефера деятельности
									{{else}}
										Field of activity
									{{/if}}
								</label>
								<p class="control has-icon">
									<input id="sphere-{{name}}" class="input bizzare-form-input" type="text" placeholder="Barnyard, Ltd." value="{{sphere}}">
									<i class="fa fa-building to-up"></i>
								</p>
							</div>
            </div>


            <div class="columns is-mobile">
              <div class="column">
                <label class="label" for="position">
                	{{#if (eq language 'ru')}}
                		Сайт:
                	{{else}}
                		Site:
                	{{/if}}
                </label>
                <p class="control has-icon">
	                  <input id="site-{{name}}" class="input bizzare-form-input" type="text" placeholder="http://acenter.ru" value="{{site}}">
                  	<i class="fa fa-link to-up"></i>
                </p>
              </div>
              <div class="column">
                <label class="label" for="position">
                	{{#if (eq language 'ru')}}
                		Город:
                	{{else}}
                		City:
                	{{/if}}
                </label>
                <p class="control has-icon">
                  	{{#if (eq language 'ru')}}
                  		<input id="city-{{name}}" class="input bizzare-form-input" type="text" placeholder="Тюмень" value="{{city}}">
                  	{{else}}
                  		<input id="city-{{name}}" class="input bizzare-form-input" type="text" placeholder="Tyumen" value="{{city}}">
                  	{{/if}}
                  	<i class="fa fa-map to-up"></i>
                </p>
              </div>
            </div>

            <div class="columns is-mobile">
              <div class="column">
                <label class="label" for="position">
                	{{#if (eq language 'ru')}}
                		Должность:
                	{{else}}
                		Position:
                	{{/if}}
                </label>
                <p class="control has-icon">
                  	{{#if (eq language 'ru')}}
                  		<input id="position-{{name}}" class="input bizzare-form-input" type="text" placeholder="Менеджер по продажам" value="{{position}}">
                  	{{else}}
                  		<input id="position-{{name}}" class="input bizzare-form-input" type="text" placeholder="Sales Manager" value="{{position}}">
                  	{{/if}}
                  	<i class="fa fa-user to-up"></i>
                </p>
              </div>
							<div class="column">
								<label class="label">
									{{#if (eq language 'ru')}}
										Количество человек в подчинении
									{{else}}
										Number of people in subjection
									{{/if}}
									<p class="control">
										<input id="pride-{{name}}" class="input bizzare-form-input" type="text" placeholder="Sales Manager" value="{{pride}}">
									</p>
								</label>
							</div>
            </div>

            <div class="columns">   
              <div class="column">
								<div class="columns">
									<div class="column">
										<strong>Работал с</strong>
									</div>
								</div>
								<div class="columns is-mobile">
									<div class="column">
										<p class="control">
											<span class="select is-fullwidth">
												<select id="fromMonth-{{name}}">
													<option value="{{fromMonth}}">
														{{#if (eq fromMonth '0')}}
															Месяц
														{{else}}
															{{fromMonth}}
														{{/if}}
													</option>
													<option value="01">Январь</option>
													<option value="02">Февраль</option>
													<option value="03">Март</option>
													<option value="04">Апрель</option>
													<option value="05">Май</option>
													<option value="06">Июнь</option>
													<option value="07">Июль</option>
													<option value="08">Август</option>
													<option value="09">Сентябрь</option>
													<option value="10">Октябрь</option>
													<option value="11">Ноябрь</option>
													<option value="12">Декабрь</option>
												</select>
											</span>
										</p>
									</div>
									<div class="column">
										<p class="control">
											<span class="select is-fullwidth">
												<select id="fromYear-{{name}}">
													<option value="{{fromYear}}">
														{{#if (eq fromYear '0')}}
															Год
														{{else}}
															{{fromYear}}
														{{/if}}
													</option>
													<option value="2017">2017</option>
													<option value="2016">2016</option>
													<option value="2015">2015</option>
													<option value="2014">2014</option>
													<option value="2013">2013</option>
													<option value="2012">2012</option>
													<option value="2011">2011</option>
													<option value="2010">2010</option>
													<option value="2009">2009</option>
													<option value="2008">2008</option>
													<option value="2007">2007</option>
													<option value="2006">2006</option>
													<option value="2005">2005</option>
													<option value="2004">2004</option>
													<option value="2003">2003</option>
													<option value="2002">2002</option>
													<option value="2001">2001</option>
													<option value="2000">2000</option>
													<option value="1999">1999</option>
													<option value="1998">1998</option>
													<option value="1996">1997</option>
													<option value="1996">1996</option>
													<option value="1995">1995</option>
													<option value="1994">1994</option>
													<option value="1993">1993</option>
													<option value="1992">1992</option>
													<option value="1991">1991</option>
													<option value="1990">1990</option>
													<option value="1989">1989</option>
													<option value="1988">1988</option>
													<option value="1987">1987</option>
													<option value="1986">1986</option>
													<option value="1984">1985</option>
													<option value="1984">1984</option>
													<option value="1983">1983</option>
												</select>
											</span>
										</p>
									</div>
								</div>
              </div>
              <div class="column">
								<div class="columns">
									<div class="column">
										<strong>Работал до</strong>
									</div>
								</div>
								<div class="columns is-mobile">
									<div class="column">
										<p class="control">
											<span class="select is-fullwidth">
												<select id="toMonth-{{name}}">
													<option value="{{toMonth}}">
														{{#if (eq toMonth 'current')}}
															Настоящее время
														{{else}}
															{{toMonth}}
														{{/if}}
													</option>
													<option value="current">Настоящее время</option>
													<option value="01">Январь</option>
													<option value="02">Февраль</option>
													<option value="03">Март</option>
													<option value="04">Апрель</option>
													<option value="05">Май</option>
													<option value="06">Июнь</option>
													<option value="07">Июль</option>
													<option value="08">Август</option>
													<option value="09">Сентябрь</option>
													<option value="10">Октябрь</option>
													<option value="11">Ноябрь</option>
													<option value="12">Декабрь</option>
												</select>
											</span>
										</p>
									</div>
									<div class="column">
										<p class="control">
											<span class="select is-fullwidth">
												<select id="toYear-{{name}}">
													<option value="{{toYear}}">
														{{#if (eq toYear 'current')}}
															Настоящее время
														{{else}}
															{{toYear}}
														{{/if}}
													</option>
													<option value="current">Настоящее время</option>
													<option value="2017">2017</option>
													<option value="2016">2016</option>
													<option value="2015">2015</option>
													<option value="2014">2014</option>
													<option value="2013">2013</option>
													<option value="2012">2012</option>
													<option value="2011">2011</option>
													<option value="2010">2010</option>
													<option value="2009">2009</option>
													<option value="2008">2008</option>
													<option value="2007">2007</option>
													<option value="2006">2006</option>
													<option value="2005">2005</option>
													<option value="2004">2004</option>
													<option value="2003">2003</option>
													<option value="2002">2002</option>
													<option value="2001">2001</option>
													<option value="2000">2000</option>
													<option value="1999">1999</option>
													<option value="1998">1998</option>
													<option value="1996">1997</option>
													<option value="1996">1996</option>
													<option value="1995">1995</option>
													<option value="1994">1994</option>
													<option value="1993">1993</option>
													<option value="1992">1992</option>
													<option value="1991">1991</option>
													<option value="1990">1990</option>
													<option value="1989">1989</option>
													<option value="1988">1988</option>
													<option value="1987">1987</option>
													<option value="1986">1986</option>
													<option value="1984">1985</option>
													<option value="1984">1984</option>
													<option value="1983">1983</option>
												</select>
											</span>
										</p>
									</div>
								</div>
              </div>
            </div>

            <div class="columns">
              <div class="column">
                <label class="label" for="to">
                	{{#if (eq language 'ru')}}
                		Обязанности:
                	{{else}}
                		Duties:
                	{{/if}}
                </label>
                {{#if (eq language 'ru')}}
	                <em>(перечислите обязанности через запятую)</em>
	            {{else}}
	            	<em>(list the duties separated by commas)</em>
	            {{/if}}
                <p class="control has-icon">
                  <textarea id="jobs-{{name}}" class="input bizzare-form-input" type="text" placeholder="" value="{{jobs}}"></textarea>
                  <i class="fa fa-bars to-up"></i>
                </p>
              </div>
            </div>
						
            <div class="columns">
              <div class="column">
                <label class="label" for="to">
                	{{#if (eq language 'ru')}}
                		Достижения:
                	{{else}}
                		Achivments:
                	{{/if}}
                </label>
                {{#if (eq language 'ru')}}
	                <em>(перечислите обязанности через запятую)</em>
	            {{else}}
	            	<em>(list the duties separated by commas)</em>
	            {{/if}}
                <p class="control has-icon">
                  <textarea id="achivki-{{name}}" class="input bizzare-form-input" type="text" placeholder="" value=""></textarea>
                  <i class="fa fa-bars to-up"></i>
                </p>
              </div>
            </div>
          </form>
	    	</section>
		    <footer class="modal-card-foot">
		    	<a class="button is-bizzare-pure-button is-primary" {{action 'saveEdit'}}>
		    		{{#if (eq language 'ru')}}
		    			Сохранить
		    		{{else}}
		    			Save changes
		    		{{/if}}
		    	</a>
			    <a class="button is-bizzare-pure-button" {{action 'closeEdit'}}>
			    	{{#if (eq language 'ru')}}
			    		Отменить
			    	{{else}}
			    		Cancel
			    	{{/if}}
			    </a>
		    </footer>
	  </div>
	</div>

	<div class="modal" id="trashModal-{{name}}">
		<div class="modal-background"></div>
			<div class="modal-card is-modal-80">
				<header class="modal-card-head">
					<p class="modal-card-title">
						{{#if (eq language 'ru')}}
							Удалить место работы в "{{name}}"
						{{else}}
							Remove job in "{{name}}"
						{{/if}}
					</p>	
		      	</header>
		      	<section class="modal-card-body">
		     		<p class="content">
		     			{{#if (eq language 'ru')}}
			     			Вы точно хотите удалить место работы в "{{name}}"?
			     		{{else}}
			     			You sure you want to remove in the work place "{{name}}"?
			     		{{/if}}
		     		</p>
		    	</section>
			    <footer class="modal-card-foot">
			    	<a class="button is-primary is-bizzare-pure-button" {{action 'deleteWork'}}>
			    		{{#if (eq language 'ru')}}
					    	Удалить
					    {{else}}
					    	Delete job
					    {{/if}}
					</a>
				    <a class="button is-bizzare-pure-button" {{action 'closeTrash'}}>
				    	{{#if (eq language 'ru')}}
				    		Отменить
				    	{{else}}
				    		Cancel
				    	{{/if}}
				    </a>
			    </footer>
		  </div>
		</div>