.hiden-overflow {
	overflow: hidden !important;
}

.is-modal-80 {
	max-height: 80% !important;
}
.zero-zero {
	height: 0;
	font-size: 0;
}
.is-lato-regular-32 {
	font-family: LatoRegular !important;
	font-size: 32px !important;
	color: #ffffff !important;
}
.is-lato-heavy-44 {
	font-family: LatoHeavy !important;
	font-size: 44px !important;
	color: #ffffff !important;
}
.is-lato-light {
	font-family: LatoLight !important;
	font-size: 32px !important;
	color: #ffffff !important;
	text-transform: uppercase;
}
.is-lato-bold-36 {
	font-family: LatoBold !important;
	font-size: 36px !important;
	color: #ffffff !important;
	text-transform: uppercase;
}
.is-lato-bold-32 {
	font-family: LatoBold !important;
	font-size: 32px !important;
	color: #ffffff !important;
	text-transform: uppercase;
}
.segoeuil-28 {
	font-family: segoeuil !important;
	font-size: 28px;
	color: #ffffff !important;
}
.segoeuib-28 {
	font-family: segoeuib !important;
	font-size: 28px;
	color: #ffffff !important;
}
.segoeuil-22 {
	font-family: segoeuil !important;
	font-size: 22px;
	text-transform: uppercase;
	font-weight: bold;
}
.segoeuil-22 {
	font-family: segoeuil !important;
	font-size: 25px;
	font-weight: bold;
}
.segoeuil {
	font-family: segoeuil !important;
}
.background-22aac1 {
	background-color: #22aac1;
	color: #ffffff;
}
.is-22aac1-text {
	color: #22aac1;
}
.is-22aac1-text-bold {
	color: #22aac1;
	font-weight: bold;
	text-transform: uppercase;
}
.is-22aac1-text-link {
	color: #22aac1 !important;
}
.is-22aac1-text-link:hover {
	color: #ff3860 !important;
}
.is-without-color {
	background-color: #212121 !important;
}
.is-without-color:hover {
	background-color: #ff3260 !important;
}
.is-bizzare-red-button {
	font-family: LatoRegular;
	text-transform: uppercase;
	color: #ffffff;
	border-radius: 0 !important;
}
.is-bizzare-pure-button {
	font-family: LatoRegular;
	text-transform: uppercase;
	border-radius: 0 !important;
}
.is-bizzare-next-button {
	font-family: LatoRegular;
	font-size: 20px;
	text-transform: uppercase;
	border-radius: 0 !important;
}
.is-bizzare-menu-button {
	font-family: LatoRegular;
	border-radius: 0 !important;
}
.is-red-text {
	color: #ff3860 !important;
}
.bizzare-form-input {
	border-radius: 0 !important;
}
.up-icon {
	z-index: 99 !important;
}





























 .photo {
    display: inline-block; /* Строчно-блочный элемент */
    position: relative; /* Относительное позиционирование */
   }
   .photo:hover::after {
   	color: text;
    content: attr(data-title); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    left: 20%; top: 30%; /* Положение подсказки */
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    background: #00d1b2; /* Полупрозрачный цвет фона */
    font-family: Arial, sans-serif; /* Гарнитура шрифта */
    font-size: 11px; /* Размер текста подсказки */
    padding: 5px 10px; /* Поля */
    border: 1px solid #333; /* Параметры рамки */
   }

#rhombus {
	position: absolute;
}
.is-avatar-chooser {
	background: rgba(0, 0, 0, 0.9);
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	height: 100%;
	z-index: 100;
}
.is-blue-text {
	color: #00d1b2 !important;
}
.is-info-text {
	color: #3273dc !important;
}
.is-danger-text {
	color: #ff3860 !important;
}
.is-blue-text-bold {
	color: #00d1b2 !important;
	font-weight: bold;
	text-transform: uppercase;
}
.is-border-right {
	border-right: 1px solid #dbdbdb;
}
.is-dark-navbar {
	background-color: #212121;
}
.left-three {
	border-right: 3px solid #22aac1 !important;
}

.avatar-circle {
	border: 4px solid #22aac1;
	border-radius: 50%
}

.float-button {
	padding: 10px;
	position: fixed;
	bottom: 10%;
	right: 5px;
}


.to_top{
	position:fixed;
	top:0px;
	left: 0px;
	padding: 0;
	margin: 0;
	width: 100%;
	z-index: 99 !important;
}

.to-up {
	z-index: 99 !important;
}
.cropit-image-preview {
  background-color: #f8f8f8;
  background-size: cover;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 7px;
  width: 250px;
  height: 250px;
  cursor: move;
}

.cropit-image-background {
  opacity: .2;
  cursor: auto;
}

.image-size-label { margin-top: 0.6rem; }

input {
  /* Use relative position to prevent from being covered by image background */
  position: relative;
  z-index: 10;
}




.none-decoration {
	text-decoration: none !important;
}

.is-main-background {
	background-image: url('http://marxmsp.ru/assets/templates/bizness/images/krutilka/container-bg.jpg');
	-moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}

.is-circle {
	border-radius: 100px;
	height: 45px;
}

.is-circle-sidebar {
	background-color: #212121;
	border-radius: 100px;
	margin-bottom: 5px;
	border: 1px solid #ffffff;
	padding: 5px;
	height: 45px;
	width: 45px;
	display: block;
}

.is-sidebar-bars {
	background-color: #212121;
	height: 45px;
	border: 0px;
}

.is-dark-footer {
	background-color: #212121;
}

.is-white {
	color: #ffffff;
}

.is-footer-link {
	color: #00d1b2 !important;
	text-decoration: none !important;
}

.is-padding-50 {
	padding-top: 50px;
}

#sidebar {
	background-color: #212121;
	color: #ffffff;
	position: fixed;
	height: 100%;
	width: 6%;
	z-index: 99;
	opacity: 1;
}

#sidebar-zero {
	background-color: #212121;
	color: #ffffff;
	position: fixed;
	height: 100%;
	width: 30%;
	z-index: 90;
	opacity: 0.7;
	left: 6%;
}

.is-hidden {
	display: none;
}

.is-sidebar-bars {
	width: 100%;
}

.sidebar-circle {
	width: 100%;
}

#sidebar-circle {
	position: fixed;
	top: 30%;
	width: 6%;
}

#hero-main {
	background: url('/header.jpg');
    background-size: cover;
    background-color: red
}

.language-switcher {
	position: fixed;
	bottom: 0px;
	color: red;
	width: 6%;
}

.is-active-language {
	width: 100%;
	background-color: #00d1b2;
	color: #ffffff;
}

#panel-buttons {
	background-color: red;
	width: 30%;
	top: 30%;
	position: fixed;
}

.is-label-sidebar {
	height: 45px;
	width: 100%;
	margin-bottom: 5px;
}

.is-bars-button-hover {
	position: fixed;
	z-index: 100;
	width: 36%;
	top: 30%;
	height: 45px;
}

.is-bars-button-hover:hover {
	position: fixed;
	z-index: 100;
	width: 36%;
	top: 30%;
	height: 45px;
	background-color: red;
	color: white;
}

.is-bars-button-hover-link {
	color: white;
}

.is-bars-button-hover-link:hover {
	color: white;
}

.is-circle-link {
	width: 45px;
	height: 45px;
	border-radius: 100px;
	border: 1px solid white;
	padding-top:10px;
}

.is-padding-15 {
	padding-top:20px;
}

.is-float-left {
	float: left;
}

.is-margin-48 {
	margin-top: 48px;
}






.language-button {
	position: fixed;
	right: 5px;
	bottom: 5px;
}

.language-button-mobile {
	position: fixed;
	right: 5px;
	bottom: 10%;
}

.is-menu-button {
	position: fixed;
	left: 5px;
	top: 5px;
	z-index: 999;
}

.is-menu-button-desktop {
	position: fixed;
	left: 0;
	top: 5;
	width: 100%;
	z-index: 10;
}

.circle-button {
	border-radius: 25px;
	color: #ffffff;
	background-color: red;
	padding: 10px;
	position: fixed;
	bottom: 10%;
	right: 5px;
	width: 45px;
	height: 45px;
}
