<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <style>
      @font-face {
        font-family: LatoRegular; /* Гарнитура шрифта */
        src: url(fonts/Lato-Regular.ttf); /* Путь к файлу со шрифтом */
      }
      @font-face {
        font-family: LatoHeavy; /* Гарнитура шрифта */
        src: url(fonts/Lato-Heavy.ttf); /* Путь к файлу со шрифтом */
      }
      @font-face {
        font-family: LatoLight;
        src: url(fonts/Lato-Light.ttf);
      }
      @font-face {
        font-family: LatoBold;
        src: url(fonts/Lato-Bold.ttf);
      }
      @font-face {
        font-family: segoeuil;
        src: url(fonts/segoeuil.ttf);
      }
      @font-face {
        font-family: segoeuib;
        src: url(fonts/segoeuib.ttf);
      }
    </style>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Генератор резюме</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{content-for "head"}}

    <link rel="stylesheet" href="{{rootURL}}assets/vendor.css">
    <link rel="stylesheet" href="{{rootURL}}assets/ember-analitic.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropit/0.5.1/jquery.cropit.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
    {{content-for "head-footer"}}
  </head>
  <body>
    {{content-for "body"}}

    <script src="{{rootURL}}assets/vendor.js"></script>
    <script src="{{rootURL}}assets/ember-analitic.js"></script>
    <script type="text/javascript">
        function dropFile() {
            window.localStorage.setItem('file', "none");
        }
        window.onload = dropFile;
    </script>
    {{content-for "body-footer"}}
  </body>
</html>
