<div class="columns">
	<div class="column is-half is-offset-one-quarter">
		{{cv-page state='fore'}}
		<br />
		<div class="columns">
			<div class="column">
				<a class="button is-info is-bizzare-next-button is-fullwidth" href="{{href-to 'experience'}}">
					<img src="prev-step-arrow.png" />&nbsp;&nbsp;Предыдущий шаг
				</a>
			</div>
			<div class="column">
				<a class="button is-info is-bizzare-next-button is-fullwidth" href="{{href-to 'finish'}}">
					Готово&nbsp;&nbsp;<img src="next-step-arrow.png" />
				</a>
			</div>
		</div>
	</div>
</div>
