<div class="columns is-hidden-touch" style="height: 55px;">
	<div class="column" id="stick_menu">
		{{main-menu}}
	</div>
</div>
<div class="is-hidden-desktop">
	{{main-menu}}
</div>
	<div class="columns">
	<div class="column">
		{{outlet}}
	</div>
</div>
<!-- FOOTER -->
{{footer-component}}