{{page-section
	id='hero-main'
	state='hero-main' 
	size='' 
	color='is-dark'
	srcImage='logo.png' 
	text-align='has-text-centered'}}

{{page-section
	state='two-column-action'
	subtitle='Это беслатно и очень просто'
	color='background-22aac1' 
	srcImage='promo-block-2-bg.png'
	text-align='has-text-centered'}}

{{page-section
	state='two-row'}}

{{page-section
	state='social'
	color='background-22aac1'
	linkTwiiter = ''
	linkVK=''
	linkFB=''
	linkIn=''
	linkGP=''
	text-align='has-text-centered'}}

{{page-section
	state=''
	text-align='has-text-centered'}}