<div class="columns">
	<div class="column is-half is-offset-one-quarter">
		{{cv-page state='one'}}
		<br />
		<div class="columns">
			<div class="column">
				<a class="button is-info is-bizzare-next-button is-fullwidth" href="{{href-to 'knowledge'}}">
					Следующий шаг&nbsp;&nbsp;<img src="next-step-arrow.png" />
				</a>
			</div>
		</div>
	</div>
</div>
